/* CSS Document for the advertising landing page content type */
.wp-block-image img{
	display:table;
	margin:0 auto;
}
.advgb-column{
	margin:20px;
	min-width:275px;
}
@media all and (max-width:654px){
	.advgb-column{
		margin:20px 0;
	}
}
	.advgb-column:last-of-type .advgb-column-inner{
	background-color:#f1f1f1;
	padding:0 15px 15px;
}
#colophon .site-title{
	display:table;
	margin:0 auto;
}
#advertising-landing-page .section-heading{
	background-color:unset;
}
#advertising-landing-page footer{
	display:table;
	margin:0 auto;
}
#advertising-landing-page footer.site-footer .site-branding{
	margin-left:unset;
}
#advertising-landing-page footer .footer-item-inner{
	margin-bottom:0;
}
