/* stylesheet for the campus map page */
.social-media{
	display:none;
}
footer {
	border-top: 2px solid #115438;
	padding-top: 25px;
}
#svg-container{
	width:100%;
	height:auto;
}
#campusMap{
	width:100% !important;
	height:auto !important;
}
.close{
	display:block;
	margin:0 auto;
}
.hilite{
	stroke:#115438;
	stroke-width:25;
}
/* BEGIN attempts to slide content */
#slideshowContainer{
}
.slideshow{
	position:absolute;
	top:100px;
	right:-600px;
	max-width:400px;
	visibility:hidden;
	background-color:#fff;
	z-index:10;
}
.slideshow h3{
	text-align:center;
}
.visible{
	right:20px !important;
	visibility:visible;
}
.transition{
  -webkit-transition: right 0.3s ease-out;  /* Chrome 1-25, Safari 3.2+ */
     -moz-transition: right 0.3s ease-out;  /* Firefox 4-15 */
       -o-transition: right 0.3s ease-out;  /* Opera 10.50–12.00 */
          transition: right 0.3s ease-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
}
/* END attempts to slide content */
