/* stylesheet for the campus map page */
footer {
	border-top: 2px solid #115438;
	padding-top: 25px;
}
#svg-container {
}
svg {
	width: 70%;
	height: auto;
	min-width: 300px;
	border-right: 2px solid #115438;
}
#index {
	min-width: 300px;
	max-width: 30%;
	width:100%;/*
	index: 	display:flex;
	flex-flow:column nowrap;
	align-items:center;
*/
}
.buildingContent {
	max-width: 50%;
}
.ui-accordion {
	width: 100%;
}
.carousel img {
	width: auto;
	margin: 0 auto;
	max-width: 300px;
}
/* BEGIN styles for the aria-accordion JS library */
.js-accordion__panel[aria-hidden=true] {
	display: none;
}
.js-accordion__panel[role="tabpanel"] .js-accordion__header {
	display: none;
}
button.js-accordion__header {
	display: block !important;
	width:100%;
	border: unset;
	background-color: unset;
	color: #115438;
	font-weight: 700;
}
/* END styles for the aria-accordion JS library */


