/* stylesheet for the campus map page */
footer {
	border-top: 2px solid #115438;
	padding-top: 25px;
}
#pageContainer{
	position:relative;
}
#svg-container{
	width:100%;
	height:auto;
	background-color:#A3BC9F;
	min-height:300px;
}
.flexRowWrapStart{
	background-color:#A3BC9F;
}
#overlay{
	position:absolute;
	width:100%;
	height:100%;
}
#campusMap{
	width:100% !important;
	height:auto !important;
	min-height:350px;
}
svg path,svg polyon{
	pointer-events:visiblePainted;
}
svg path:hover,svg polygon:hover{
	cursor:pointer;
}
.close{
	display:block;
	margin:0 auto;
}
.slideshow{
	display:none;
	position:absolute;
	top:9%;
	background-color:#fff;
	z-index:10;
	border:2px solid #dedede;
	border-radius:5px;
}
.slideshow_header{
	text-align:center;
	font-size:1.2em;
	margin-bottom:2px;
}
.slideshow p{
	max-width:700px;
	padding:0 20px;
}
.visible{
	left:0;
	display:block;
	-webkit-transition: right .3s ease-out;
	-moz-transition: right .3s ease-out;
	-o-transition: right .3s ease-out;
	transition: right .3s ease-out;
	top:0;
}
@media all and (max-width:600px){
	.visible{
		width:100%;
	}
}
noscript{
	width:100%;
}
noscript div{
	padding:10px 10px 0;
	font-weight:700;
}
noscript p{
	color:#fff;
	text-align:center;
}
noscript a,noscript a:hover,noscript a:visited{
	color:#fff;
	text-decoration:underline;
}