/* styling overrides for the 1-2-no-left-rail-page.php template */
.page-template-1-2-no-left-rail-page .fullWidth{
	margin-bottom: 10px;
	padding-bottom: 10px;
	text-align:center;
}
.embedDirectory-image li{
	align-items:center !important;
	text-align:right;
}
.embedDirectory-image li:nth-child(even){
	text-align:left;
}
.template.embedDirectory-image .listText{
	width:calc(100% - 165px) !important;
}
.speaker h4{
	line-height: 1em;
}
.parent-sidebar-menu,.field-sidebar_calls_to_action{
	display:none;
}
#secondary #menu-commencement-nav{
	padding:0;
	list-style-type:none;
	background:white;
	border:1px solid #dcdcdc;
	border-bottom:none;
	margin:0 auto 16px;
	box-shadow:0 1px 2px rgba(0,0,0,0.1);
	font-weight:bold;
}
#secondary #menu-commencement-nav a{
	display:block;
	padding:6px;
	color:#333333;
	text-decoration:none;
	width:100%;
	border-bottom:1px solid #dcdcdc;
}
#secondary #menu-commencement-nav .current_page_item a{
	color:#046B99
}
#secondary #menu-commencement-nav .sub-menu{
	margin-left:0;
	list-style:none;
}
/*
#commencementPage .site-branding:after{
	position:absolute;
	top:8px;
	color:#696969;
	display:block;
	height:42px;
	line-height:42px;
	left:121px;
	width:9.1em;
	border-left:1px solid #CCC;
	padding-left:0;
	content:"Commencement";
}
*/
.specialsectionlink{
	float:left;
	margin:11px 0 0 120px;
	border-left:1px solid #CCC;
	padding: 5px 0;
}
.specialsectionlink a,.specialsectionlink a:visited{
	color:#696969;
	text-decoration:none;
	padding-left:10px;
}
