/* 
* new CSS file that is included by the a-z plugin for the directory (/directory) pages
* this is enqueued by a-z-listing.php
*/
.az-letters{
	margin-top:-120px;
	padding:120px 0 30px;
}
.az-letters li{
	padding:6px;
	font-size:14px;
}
#az-slider li{
	margin-bottom:10px;
	font-size:16px;
}
#az-slider  li {
  /* for Chrome and Edge */
  break-inside: avoid-column;
  /* for Firefox */
  display: inline-grid;
  page-break-inside: avoid;
}

/* for Chrome and Edge */
@supports (break-inside: avoid-column) {
  #az-slider li  {
    display: block;
  }
}
#az-slider li:last-child{
	margin-bottom:unset;
	overflow: hidden;
}
#az-slider li p{
	padding-left:20px;
}
#az-slider .letter-section{
	margin-bottom:unset;
}
.page-id-22784 .filterList{
	margin-bottom:25px;
}
.page-id-22784 .filterList button{
	display:inline-block;
	padding:2px 5px;
	margin:0 0 0 15px;
	min-width:unset;
	font-size:1em;
	line-height:1em;
}
.letter-section div.back-to-top a:before,.letter-section div.back-to-top a:after {
    font-family: "Font Awesome 5 Free";
    content: "\f077";
    font-weight: 700;
}
.division-department{
	display:flex;
	flex-flow:row wrap;
	justify-content:space-between;
}
#az-slider .division-department li{
	width:48%;
	min-width:275px;
	display:flex;
	flex-flow:row wrap;
	justify-content: flex-start;
	align-content:baseline;
}
.division-department li img {
	margin-right: 15px;
	width:100px;
	height:100px;
}
.division-department p {
	margin-bottom:0px;
	padding-left: 0px !important;
	word-break: break-word;
}
.nameLink{
	flex-basis: 100%;
}
@media only screen and (max-width:786px) {
	#az-slider #inner-slider ul{
		-webkit-columns:unset;
		-moz-columns:unset;
		columns:unset;
	}
	#az-slider li,#az-slider .division-department li{
		display:block;
		width:100%;
  }
}
