/* styling overrides used for printing pages off the website */
#masthead{
	position:unset;
}
#content,#main{
	height:100%;
}
.site-content{
	padding-top:unset;
}
.page-sidebar{
	margin-top:10px;
}
a{
	padding:0 10px;
}
.social-media-icons{
	display:none;
}