.wp-block-lazyblock-banner-story-image {
	padding: 0;
	width: 100%;
	position: relative;
}
.wp-block-lazyblock-banner-story-image .banner-story-image {
	display: block;
}
.wp-block-lazyblock-banner-story-image .inner-padding {
	position: relative;
}
.wp-block-lazyblock-banner-story-image h2 {
	font-size: 28px;
}
.wp-block-lazyblock-banner-story-image .inner-padding ul {
	padding-left: 20px;
}
.wp-block-lazyblock-banner-story-image a.permalink {
	padding: 10px 0;
	display: inline-block;
}
.wp-block-lazyblock-banner-story-image a img {
	vertical-align: bottom;
}
