//controls the block with images, buttons, and hover links (needs a better name)
#imageLinkColumns {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-evenly;
	.column {
		flex: 1;
		.image-tint {
			position: absolute;
			opacity: 0;
			@include square(100%);
			@include transition($property: opacity);
		}
		.permalink {
			width: auto;
			max-width: 90%;
			padding: 1em;
			color: #fff;
		}			
		&:hover {
			.image-tint {
				z-index: 10;
				@include transition($property: opacity);
				opacity: 1;
			}
		}
		&:nth-child(1) {
			background-color: $elmsgreen;
			&:hover {
				.image-tint {
					background: linear-gradient(rgba($elmsgreen, 0.7), rgba($elmsgreen, 0.7));
				}
			}
		}
		&:nth-child(2) {
			background-color: $elmsblue;
			&:hover {
				.image-tint {
					background: linear-gradient(rgba($elmsblue, 0.7), rgba($elmsblue, 0.7));
				}
			}
		}
	}//end column

    p {
        color: #fff;
        margin-top: 20%;
        width: 70%;
        margin-left: 15%;
    }
    &:nth-child(2) {
        background: $elmsgold !important;
        &:hover {
            .image-tint {
                background: linear-gradient(rgba($elmsgold, 0.7), rgba($elmsgold, 0.7));
            }
            .permalink {
                color: $elmsgold !important;
            }
        }
    }
    &:nth-child(3) {
        background: $elmsblue !important;
        &:hover {
            .image-tint {
                background: linear-gradient(rgba($elmsblue, 0.7), rgba($elmsblue, 0.7));
            }
            .permalink {
                color: $elmsblue !important;
            }
        }
    }
    &:nth-child(4) {
        background: $elmspurple !important;
        &:hover {
            .image-tint {
                background: linear-gradient(rgba($elmspurple, 0.7), rgba($elmspurple, 0.7));
            }
            .permalink {
                color: $elmspurple !important;
            }
        }
    }
	.calls-to-action {
		.calls-to-action-title {
			position: relative;
			margin: 32px 0 0;
			padding: 64px 0 48px;
			background-color: $elmsgreen;
		}
		.cta-image {
			background-color: gray;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: 50%;
			position: relative;
			height: 460px;
			display: block;
			img {
				display: block !important;
				height: 100%;
				width: auto;
			}
			&:after {
				display: block;
				content: "";
				background: rgba(#000, .325);
				position: absolute;
				@include posZero;
			}
			.cta-title-container {
				position: inherit;
				z-index: 50;
				margin: 0 32px;
				height: 100%;
				width: calc(100% - 64px);
				color: #fff;
				h3.field-title {
					font-size: 32px;
					font-family: "soleil", sans-serif;
					border-top: $whiteborder;
					border-bottom: $whiteborder;
					padding: .5em 0;
					font-weight: 200;
					text-transform: uppercase;
					color: #fff;
					margin-bottom: 1em;
					text-shadow: 2px 2px 6px rgba(#000, .2);
				}
			}
		}
		.cta {
			background: $elmsgold;
			margin: 0;
			&:hover {
				.permalink {
					color: $elmsgold;
					background-color: #fff;
				}
			}
			&:nth-child(2) {
				background: $elmsblue;
			}
			&:nth-child(3) {
				background: $elmspurple;
				&:hover {
					.permalink {
						color: $elmspurple;
						background-color: #fff;
					}
				}
			}
		}
	}
	.cta {
		&:nth-child(2) {
			&:hover {
				.permalink {
					@include blue-on-white;
				}
			}
		}
	}
}
