//controls the block with images, buttons, and hover links (needs a better name)
#imageLinkColumns {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-evenly;
	.column {
		flex: 1;
		.permalink {
			width: auto;
			max-width: 90%;
			padding: 1em;
			color: #fff;
		}			
		.image-tint {
			position: absolute;
			opacity: 0;
			@include square(100%);
			@include transition($property: opacity);
		}
		&:hover {
			.permalink {
				background-color: #fff;
			}
			.image-tint {
				z-index: 10;
				@include transition($property: opacity);
				opacity: 1;
			}
		}
		$columns: ("1": $elmsgreen, "2": $elmsblue, "3": $elmsgold, "4": $elmspurple);
		@each $number, $color in $columns {
			&:nth-child(#{$number}) {
				background-color: $color;
				&:hover {
					.permalink {
						color: $color;
					}
					.image-tint {
						background: linear-gradient(rgba($color, 0.7), rgba($color, 0.7));
					}
				}
			}
		}
		.column-header {
			text-align: center;
		}
		.column-image {
			position: relative;
			height: 460px;
			display: block;
			width: auto;
		}
	}//end column
    p {
        color: #fff;
        margin-top: 20%;
        width: 70%;
        margin-left: 15%;
    }
}
