/* Style overrides for the MEC Calendar plugin */
/* MEC calendar specific mixins */
@mixin mecHoverStyle($color) {
    background-color: $color;
    border: 1px solid $color;

    &:hover {
        background-color: $color;
        border: 1px solid $color;

        h4 {
            color: $color !important;
        }
    }
}


.mec-event-social-icon a{
    text-decoration: none;
}
.mec-single-event .mec-events-meta-group-booking, .mec-single-event .mec-frontbox, .mec-box-calendar.mec-calendar dt {
    border: $lightgreyborder;
}
.mec-calendar .mec-table-nullday {
    color: $lightgrey;
}
.undergraduate-admissions {
    @include mecHoverStyle($elmsgreen);
}
.graduate-admissions {
    @include mecHoverStyle($elmsblue);
}
.continuing-education-admissions {
    @include mecHoverStyle($elmspurple);
}
.commencement {
    @include mecHoverStyle($elmsgold);
}
.public_event {
    @include mecHoverStyle(#e93f3f);
}


