/* Style overrides for the MEC Calendar plugin */
/* MEC calendar specific variables and mixins */
$calendarOpacity: .25;

$ce-events: rgb(128,0,0);

/* BEGIN community college colors */
$acc:   #3399cc;
$bcc:   #005199;
$hcc:   #00af40;
$gcc:   #0b6256;
$mwcc:  #003358;
$stcc:  #caad68;
/* END community college colors */

@mixin mecHoverStyle($color) {
    background: $color;
    &:hover {
        background: rgba($color, $calendarOpacity);
        h4 {
            color: $color !important;
        }
    }
}

$mecBottomLine: (
    //event slug (background color, line color, text color, hover text color)
    center-for-student-success: ("bg":#f90, "line":#f10, "text":#000, "hover":#000),
    acc: ("bg":$ce-events, "line":$acc, "text":#000, "hover":#000),
    bcc: ("bg":$ce-events, "line":$bcc, "text":#000, "hover":#000),
    hcc: ("bg":$ce-events, "line":$hcc, "text":#000, "hover":#000),
    gcc: ("bg":$ce-events, "line":$gcc, "text":#000, "hover":#000),
    mwcc: ("bg":$ce-events, "line":$mwcc, "text":#000, "hover":#000),
    stcc: ("bg":$ce-events, "line":$stcc, "text":#000, "hover":#000)
);

/* MEC calendar specific styles */
.event-color {
    @extend %hide;
}
.mec-month-divider {
    margin: 10px 0 5px !important
}
.single-mec-events .applynowbutton { //this can be done better
    font-size: 18px !important;
    margin: 5px 0 !important;
    line-height: 28px !important;
}
.mec-single-event {
    @extend #primary;
    .mec-event-social ul {
        padding-left: 0;
    }
}
.mec-wrap.colorskin-custom .mec-calendar  dt.mec-selected-day:hover {
    color: $elmsgreen;
    background-color: $lightgrey;
}
.mec-event-social-icon a, .event-single-link-novel {
    text-decoration: none;
}
.mec-single-event .mec-frontbox, .mec-single-event .mec-events-meta-group, .mec-box-calendar.mec-calendar dt {
    border: $lightgreyborder;
}
.mec-calendar .mec-table-nullday {
    color: $lightgrey;
}
.mec-calendar-header {
    @extend .noMarginTop;
    h2 {
        @extend .noMarginTop;
    }
}
.mec-wrap p {
    color: inherit;
    font-weight: inherit;
    font-size: 18px;
    font-family: inherit;
}
@media only screen and (max-width:479px) {
    .mec-container {
        width: unset;
    }
}
@media only screen and (min-width:480px) and (max-width:767px) {
    .mec-container {
        width: unset;
    }
}
@media (max-width: 768px) {
    .mec-wrap .mec-calendar-side {
        min-width: unset !important;
    }
}
/* BEGIN styling the different categories on the calendar, only applies to the novel skin */
.event-single-link-novel {
    .undergraduate-admissions {
        @include mecHoverStyle($elmsgreen);
    }
    .graduate-admissions {
        @include mecHoverStyle($elmsblue);
    }
    .continuing-education-admissions {
        @include mecHoverStyle($ce-events);
    }
    .liturgical-services {
        @include mecHoverStyle($elmspurple);
    }
    .commencement {
        @include mecHoverStyle($elmsgold);
    }
    .public-event {
        @include mecHoverStyle(#e93f3f);
    }
    .academic-calendar {
        background: linear-gradient(135deg, $elmsgreen 50%, $elmsgold 100%);
        h4 {
            color: #fff !important;
        }
        &:hover {
            background: linear-gradient(135deg, rgba($elmsgreen, $calendarOpacity) 50%, rgba($elmsgold, $calendarOpacity) 100%);
            h4 {
                color: #000 !important;
            }
        }
    }
    .final-exam-schedule {
        background: linear-gradient(135deg, $elmsblue 50%, $elmsgold 100%);
        h4 {
            color: #fff !important;
        }
        &:hover {
            background: linear-gradient(135deg, rgba($elmsblue, $calendarOpacity) 50%, rgba($elmsgold, $calendarOpacity) 100%);
            h4 {
                color: #000 !important;
            }
        }
    }

    @each $class, $attr in $mecBottomLine {
        .#{$class} {
            background: linear-gradient(180deg, map-get(map-get($mecBottomLine, $class), "bg"), map-get(map-get($mecBottomLine, $class), "bg") 20px, map-get(map-get($mecBottomLine, $class), "line") 10px, map-get(map-get($mecBottomLine, $class), "line") 25px);
            h4 {
                color: map-get(map-get($mecBottomLine, $class), "text") !important;
            }
            &:hover {
                background: linear-gradient(180deg, rgba(map-get(map-get($mecBottomLine, $class), "bg"), $calendarOpacity), rgba(map-get(map-get($mecBottomLine, $class), "bg"), $calendarOpacity) 20px, rgba(map-get(map-get($mecBottomLine, $class), "line"), $calendarOpacity) 10px, rgba(map-get(map-get($mecBottomLine, $class), "line"), $calendarOpacity) 25px);
                h4 {
                    color: map-get(map-get($mecBottomLine, $class), "hover") !important;
                }
            }
        }
    }
}
/* END styling the different categories on the calendar, only applies to the novel skin */

