/*! controls the flip card styles for the /academics pages */
@import "utilities";

@keyframes "animatedborder" {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.program {
	background-color: transparent;
	width: 300px;
	height: 200px;
	perspective: 1000px;
	&:nth-child(odd) {
		.program-front {
			background-color: $elmsgreen;
		}
		.program-back {
			h3 {
				color: #000;
			}
		}
	}
}
.program-inner {
	position: relative;
	width: 100%;
	height: 100%;
	transition: transform 400ms linear;
	transform-style: preserve-3d;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	border-radius: 15px;
}
.program-front {
	h2 {
		position: absolute;
		color: white;
		text-align: center;
	}
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 15px;
	background-size: cover;
	padding: 5px;
	backface-visibility: hidden;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	border-radius: 15px;
	background-color: $elmsgold;
}
.featuredImage {
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 15px;
	background-size: cover;
	padding: 5px;
	filter: brightness(85%);
}
.program-back {
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 15px;
	background-size: cover;
	padding: 5px;
	backface-visibility: hidden;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	border-radius: 15px;
	h3 {
		color: #fff;
	}
}
#programIconList {
	a.program-back {
		background-color: $elmsgreen;
		color: #fff;
		transform: rotateX(180deg);
		border: $whiteborder;
		&:visited {
			color: #fff;
		}
		&:active {
			color: #fff;
		}
		&:nth-child(odd) {
			&:visited {
				color: #000;
			}
			&:active {
				color: #000;
			}
		}
	}
	.program {
		&:nth-child(odd) {
			.program-back {
				background-color: $elmsgold;
				color: #000;
				border: 1px solid #000;
			}
		}
	}
}
/* BEGIN the liberal arts page (/academics/liberal-arts) has a special flipcard style */
#lac {
	--borderwidth: 5px;
	background: #1D1F20;
	position: relative;
	border-radius: var(--borderWidth);
	width: 290px;
	left: 5px;
	height: 190px;
	top: 5px;
	&:after {
		content: '';
		position: absolute;
		top: calc(-1 * var(--borderWidth));
		left: calc(-1 * var(--borderWidth));
		height: calc(100% + var(--borderWidth) * 2);
		width: calc(100% + var(--borderWidth) * 2);
		background: linear-gradient(to right, $elmsgold, $elmsgreen);
		border-radius: calc(2 * var(--borderWidth));
		z-index: -1;
		animation: animatedborder 4s linear alternate infinite;
		background-size: 225% 200%;
	}
	.program-back {
		border: unset !important;
	}
}
/* END the liberal arts page special flipcard style */
@media (hover) {
	.program {
		&:hover {
			.program-inner {
				transform: rotateX(180deg);
			}
		}
	}
}
@media (pointer: coarse) {
	.program {
		&:focus {
			.program-inner {
				transform: rotateX(180deg);
			}
		}
	}
}
