/* specific styles for the nursing pages */
@import "utilities";
@media (min-width: 48em) {
	#nursingPage {
		.calls-to-action {
			.calls-to-action-title {
				margin: 32px 32px 0;
			}
		}
	}
}
@media (min-width: 64em) {
	#nursingPage {
		.calls-to-action {
			.calls-to-action-title {
				margin: 64px 32px 0;
			}
		}
	}
}
@media (max-width: 48em) {
	#nursingPage {
		.calls-to-action {
			.calls-to-action-title {
				padding: 32px 0;
			}
		}
	}
}
