/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
header,footer{
	display:none !important;
}
#primary{
	display:block !important;
	overflow:visible !important;
}
main,aside{
	width:100% !important;
	padding:0 20px !important;
	height:auto !important;
	overflow:visible !important;
	display:block !important;
}
aside{
	margin-top:20px;
}
.site-content{
	padding-top:unset;
}