.stories {
  .stories-inner {
    position: relative;
    padding: 55px 0 0;
    background-color: $color__elms-green;
    margin-bottom: $gutter_width;
    @media (min-width: 64em) {
      margin: $gutter_width $gutter_width $gutter_width*2 $gutter_width;
    }
    @media (max-width: 63.999em) {
      padding-top: 32px;
    }
  }
  .field-student_stories_title {
      margin: $gutter_width/2 $gutter_width .75em;
      text-align: center;
      color: white;
      font-size: 56px;
      line-height: 1em;
      @media (min-width: 64em) {
        margin: 0 auto .75em;
      }
      @media (max-width: 47.999em) {
        font-size: 1.8em;
        line-height: 1;
        margin-top: 0;
      }
      
  }
  
  .story-feature {
    padding: 0 0 $gutter_width;
    margin: 0;
    list-style-type: none;
    //min-height: calc(682px - 6vw); 
    position: relative;
    @media (min-width: 64em) {
      min-height: 700px;
      position: relative;
      
    }
    .story-full {
      display: none;
      position: relative;
      padding: 0;
      width: 100%;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      &:first-child {
        display: block;
      }
      
      
      @media (min-width: 64em) {
        position: absolute;
      }
      .text-content {
        padding: $gutter_width $gutter_width 0;
        background-color: $color__elms-green;
        @media (min-width: 64em) {
          position: absolute;
          width: $gutter_width * 14;
          left: -$gutter_width;
          bottom: 200px;
          width: 458px;
          padding: $gutter_width*2;
        }
        
        
        
        
        
        
        z-index: 1;
        color: white;
        &:after {
          @media (min-width: 64em) {
            content: "";
          }
          position: absolute;
          width: 0;
          height: 0;
          border-top: 20px solid transparent;
          border-bottom: 20px solid transparent;
          border-left: 30px solid #115438;
          right: -29px;
          top: 46%;
        }
        .year-and-theme {
          font-size: 28px;
          font-family: "blackjack", serif;
          color: $color__elms-gold;
          line-height: 1em;
          @media (max-width: 47.999em) {
            font-size: 1.5em;
            line-height: 1;
          }
        }
        .field-title {
          font-size: 32px;
          margin: 0 0 .25em;
          color: white;
          text-transform: none;
          @media (max-width: 47.999em) {
            font-size: 1.5em;
            line-height: 1;
          }
        }
        .field-excerpt {
          font-size: 18px;
          margin-bottom: $gutter_width;
          @media (max-width: 47.999em) {
            font-size: 1em;
            line-height: 1.5;
            
          }
          a {
            color: $color__elms-gold;
            text-decoration: none;
          }
        }
        
        .field-permalink {
          a {
            /*margin-top: $gutter_width;*/
            text-decoration: none;
            text-transform: uppercase;
            border: 1px solid $color__elms-gold;
            color: $color__elms-gold;
            padding: .5em 1em;
            transition: all .25s ease-in-out;
            padding: .8em 2em .7em;
            font-size: 16px;
            
      
            display: inline-block;
            
            &:hover {
              color: $color__elms-green;
              background: $color__elms-gold;
            }
          }
        }
      }
      .story-image-container {
        @media (min-width: 64em) {
          height: 700px;
        }
        position: relative;
        
      }
      .story-image {
        display: block;
        background-image: url("images/default-header.jpg");
        height: 160px;
        height: calc(140px + 32vw);
        background-size: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50%;
        @media (min-width: 64em) {
          position: absolute;
          /*
          right: -$gutter_width;
          left: -$gutter_width * .5;
          */
          right: -$gutter_width;
          left: -$gutter_width;
          bottom: 0;
          height: 700px;
        }
        
        @media (min-width: 64em) {
          position: absolute;
          
        }
        
        img {
          display: none;
        }
        .bg-wrapper {
          max-width: none;
          margin: 0;
          background: white;
          background-repeat: no-repeat;
          background-size: 100%;
          background-size: cover;
          will-change: transform;
          z-index: 0;
          background-attachment: fixed;
          position: relative;
          width: 100%;
          height: 100%;
          display: none;
          overflow: hidden;
          pointer-events: none;
          @media all and (min-width: 768px) {
            display: block;
          }
        }
        .video-bg {
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
          min-height: 100%;
          min-width: 100%;
          -webkit-transform-style: preserve-3d;
          
  
          video {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            min-height: 100%;
            min-width: 100%;
            height: auto;
            width: 100%;
            object-fit: cover;
            
          }
        }
      }
    }
  }
  .story-feature-nav{
    display: block;
    position: absolute;
    color: transparent;
    width: $gutter_width * 2;
    height: $gutter_width * 2;
    background: $color__elms-green;
    border: 2px solid white;
    
    border-sizing: border-box;
    top: 25%;
    top: calc(70px + 16vw - 32px);
    @media (min-width: 64em) {
      display: none;
    }
    &.nav-prev, &.nav-next {
      &:hover {
        color: transparent;
      }
    }
    &.nav-prev {
      left:0;
      border-left: none;
      &:after {
        content: "";
        font-family: "fontawesome";
        color: white;
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        vertical-align: center;
        text-align: center;
        font-size: 32px;
        top: 6px;
      }
    }
    &.nav-next {
      right:0;
      border-right: none;
      &:after {
        content: "";
        font-family: "fontawesome";
        color: white;
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        vertical-align: center;
        text-align: center;
        font-size: 32px;
        top: 6px;
      }
      
    }
  }
  
  .story-carousel {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: none;
    .story-tab {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      transition: .4s ease-in-out all;
      -webkit-transition: .4s ease-in-out all;
      -moz-transition: .4s ease-in-out all;
      &:focus {
        outline: 0;
        outline: none;
      }
      .story-image {
        display: flex;
        display: block;
        height: 170px;
        min-height: 170px;
        background-size: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50%;
        background-image: url("images/default-header.jpg");
        flex-grow: 0;
        img {
          display: none;
        }
        

      }
      .text-content {
        margin: $gutter_width/2 0;
        padding: $gutter_width/2 $gutter_width;
        border-left: 1px solid rgba(255,255,255,.4);
        font-size: 21px;
        display: flex;
        flex-direction: column;
        flex-grow: 2;
        //min-height: 40%;
      }
      &:last-child .text-content {
        border-right: none;
      }
      .theme {
        color: $color__elms-gold;
        font-family: "blackjack", serif;
      }
      .field-title {
        color: white;
        .year {
          
        }
      }
      
      
      &.active {
        background: $color__elms-gold;
        
        .text-content {
          border-left: none;
          
          .theme {
            color: $color__elms-green;
          }
        }
      }
      &.active + li > .text-content {
        border-left: none;
      }
      
    }
  }
  
  @media (min-width: 64em) {
    .stories {
      
    }
    
    .story-carousel {
      display: block;
      display: flex;
    }
  }
}