/* CSS Document the contains styles for the events pages (Tribe Events plugin) */
#tribe-events .tribe-events-content p, .tribe-events-after-html p, .tribe-events-before-html p {
	margin-bottom: 1.5em
}
.single-tribe_events .tribe-events-venue-map {
	width: 100%;
	margin: 0
}
.tribe-events-meta-group.tribe-events-meta-group-gmap {
	padding: 0;
	margin: 0
}
.single-tribe_events .tribe-events-single-event-title {
	font-size: 40px
}
#tribe-events-content .recurring-info-tooltip, #tribe-events-content .tribe-events-calendar .tribe-events-tooltip, #tribe-events-content .tribe-events-shortcode.view-week .tribe-events-tooltip, #tribe-events-content .tribe-events-week .tribe-events-tooltip {
	padding: .75em 1em
}
#tribe-events .tribe-events-button:hover,#tribe-events .tribe-events-button:hover,#tribe_events_filters_wrapper input[type=submit]:hover,.tribe-events-button:hover,.tribe-events-button.tribe-active:hover,.tribe-events-button.tribe-inactive:hover, .tribe-events-button:hover, .tribe-events-calendar td.tribe-events-present div[id*=tribe-events-daynum-]:hover, .tribe-events-calendar td.tribe-events-present div[id*=tribe-events-daynum-]>a:hover {
	background-color: #c3a250;
	color: #fff
}
.single-tribe_events .tribe-events-single-event-title+.tribe-events-schedule.tribe-clearfix {
	margin-top: -8px
}

@media only screen and (max-width: 768px) {
	.tribe-events-sub-nav li a {
		background: transparent;
		color: #7f6932
	}
}
.post-type-archive-tribe_events #primary, .single-tribe_events #primary {
	padding: 30px 68px;
}
@media all and (max-width: 500px) {
	.post-type-archive-tribe_events #primary {
		padding: 0px;
	}
}
.site-main.tribe-events-pg-template {
	padding: 0px;
}
.tribe-events-calendar thead th {
	padding: 0px !important;
}
#tribe-bar-views-toggle {
	min-width: unset;
	background-color: unset !important;
}
#tribe-bar-form .tribe-bar-submit input[type=submit],.tribe-events-day-time-slot-heading{
	background-color:#004731;
}