$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: royalblue;
$color__link-visited: #B88D27;
$color__link-hover: midnightblue;
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

$color__elms-green: #115438;
$color__elms-gold: #c3a250;
$color__elms-blue: #2786ac;
$color__elms-purple: #413556;

$color__elms-gold-darker: #a78c45;
$color__elms-gold-darkest: #7f6932;

$color__elms-blue-darker: #216a8b;
$color__elms-blue-darkest: #185670;

$color__elms-gold-lighter: #CFB573;

$color__elms-green-darker: #0d4435;