.main-navigation {
	clear: both;
	display: block;
	width: 100%;
}

.menu-main-nav-container, .menu-special-menu-container {
  float: right; 
  text-align: right;
}
.menu-main-nav-container > ul, .menu-special-menu-container > ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
  
  vertical-align: middle;
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  
  > li {
    
    vertical-align: middle;
    max-width: 15.5em;
    text-align: center;
    position: relative;
    display: table-cell;
    transition: .365s ease-in-out background-color;
    @media all and (max-width:96rem) {
      max-width: 13.5em;
    }
    
    &:after {
      border-left: 1px solid #dcdcdc;
      height: 60px;
      content: "";
      position: absolute;
      left: 0;
      top: 10px;
      display: inline-block;
      width: 1px;
      z-index:-1;
    }
  	> a {
      display: inline-block;
      text-decoration: none;
      color: #828282;
      padding: 23px 2em;
      @media all and (max-width:96rem) {
        padding: 23px 1.5em;
        letter-spacing: -.25px;
      }
      
      &.words-1 {
        padding: 29px 2em;
        @media all and (max-width:96rem) {
          padding: 29px 1.5em;
        }
      }
  	}

		> ul.sub-menu {
      visibility: hidden;
      opacity: .3;
  		list-style: none;
  		margin: 7px 0 0;
  		padding: 28px;
      position: absolute;
      top: 80px;
      z-index: 1;
      background: white;
      width: 18.5em;
      border-top: 8px solid $color__elms-green;
      background: #f5f5f5;
      -webkit-transform: translateY(-50%) scaleY(0) translateZ(-90px); 
      -ms-transform: translateY(-50%) scaleY(0) translateZ(-90px); 
      transform: translateY(-50%) scaleY(0) translateZ(-90px); 
      > li > a {
        display: block;
        text-align: left;
        padding: .5em 1em;
        text-decoration: none;
        color: #828282;
        &:hover, &:focus {
          color: $color__elms-green;
        }
      }
	  }
    @media screen and (min-width: 76em)  {
      &:first-child {
        &:after {
          content: none;
        }
      }
    }
    
    
    &:hover, &.open, &:focus {
      background-color: $color__elms-green;
      color: white;
      transform: translateZ(1px);
      z-index:1;
      &:after {
        content: none;
      }
      > a {
        color: white;
      }
    }
    
    &:not(.search-item):hover, &.open, &:not(.search-item):focus {
      &.search-item .search-icon:after {
        //content:"";
        background-image: url("images/icon-close.png");
        background-image: url("images/icon-close.svg");
        background-size: 100%;
        background-repeat: no-repeat;
        @media all and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
            /* Retina-specific stuff here */
          background-image: url("images/icon-close@2x.png");
          background-image: url("images/icon-close.svg");
        }
      }
      > ul.sub-menu {
        opacity: 1;
        visibility: visible;
        -webkit-transform: translateY(0) scaleY(1) translateZ(0px); 
        -ms-transform: translateY(0) scaleY(1) translateZ(0px); 
        transform: translateY(0) scaleY(1) translateZ(0px); 
        top: 80px;
        transition: .365s ease-in-out all;
        @media all and (max-width:64rem) {
          top: 0;
          -webkit-transform: none;
          -ms-transform: none;
          transform: none;
        }
        
      }
    }
  }
}
.menu-main-nav-container > ul {
  > li {
    &:first-child {
      &:after {
        content: none;
      }
    }
  }
}

.menu-special-menu-container > ul {
  > li {
    
    height: 87px;
    &.library-mobile-menu-item {
      display: none;
      @media all and (max-width:64rem) {
        display: block;
      }
      background: #F5F5F5;
      border-bottom: 1px solid #DCDCDC !important;
      font-size: 21px;
      &:first-child {
        border-top: 1px solid #DCDCDC !important;
      }
      > a:hover, &:hover > a, &.open a, &:focus a {
        color: $color__elms-green;
      }
      > ul.sub-menu, &.open > ul.sub-menu {
        font-size: 14px;
        background: white !important; 
        border-top: 1px solid #DCDCDC;
      }
    }
    &.search-item {
      &:not(.open):hover .search-icon:after {
        background-image: url("images/icon-search-white.png");
        background-image: url("images/icon-search-white.svg");
        @media all and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
            /* Retina-specific stuff here */
          background-image: url("images/icon-search-white@2x.png");
          background-image: url("images/icon-search-white.svg");
        }
      }
      @media all and (max-width:64rem) {
        //order: 0;
      }
      > a {
        padding: 19px 1em;
        @media all and (max-width:96rem) {
          padding: 29px .75em;
        }
      }
      .search-realtext {
        display: block;
        position: absolute;
        bottom: 1.25em;
        left: 0;
        width: 100%;
      }
      .search-icon {
        font-family: "fontawesome";
        font-size: 28px;
        line-height: 14px;
        width: 2em;
        display: inline-block;
        &:after {
          content:"";
          color: transparent;
          text-shadow: none;
          background-image: url("images/icon-search.png");
          background-image: url("images/icon-search.svg");
          background-size: 100%;
          background-repeat: no-repeat;
          @media all and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
              /* Retina-specific stuff here */
            background-image: url("images/icon-search@2x.png");
            background-image: url("images/icon-search.svg");
          }
        }
      }
      > ul.sub-menu {
        opacity: 1;
        visibility: visible;
        border-top: 1px solid #dcdcdc;
        border-bottom: 1px solid #dcdcdc;
        right: 0;
        width: 48em;
        @media all and (max-width:64rem) {
          width: 100%;
          right: auto;
        }
    
        form {
          position: relative;
          border-bottom: 1px solid #969696;
          @media all and (max-width:64rem) {
            border: 1px solid #969696;
          }
          color: #969696;
          label {
            //display: table-cell;
            min-width: 90%;
            overflow: visible;
            visibility: visible;
            opacity: 1;
            flex-grow: 1;
          }
          .search-field {
            line-height: 48px;
            height: 48px;
            border: none;
            margin-left: $gutter_width/2;
        
            background-color: transparent;
            width: 100%;
            transition: all ease-in-out .5s;
            border-radius: 0;
            padding: 0;
            -webkit-appearance: none;
            -moz-appearance: none;
            &:focus {
              outline: none;
            }
          }
          .search-submit {
            background: none;
            border: none;
            font-size: 24px;
            line-height: 24px;
            display: table-cell;
            border-radius: 0;
            -webkit-appearance: none;
            -moz-appearance: none;
            background: transparent;
            font-family: "fontawesome";
            box-shadow: none;
            padding: 0;
            flex-grow: 0;
            margin-right: .5em;
            position: absolute;
            right: 8px;
            top: 12px;
            color: transparent;
            text-shadow: none;
            background-image: url(images/icon-search@2x.png);
            background-size: 100%;
            background-repeat: no-repeat;
            font-size: 0;
            width: 24px;
            height: 24px;
          }
        }
      }
    }
    
    &:last-child {
      background-color: $color__elms-gold;
      width: 8.5em;
      @media all and (min-width: 80em) {
        transform: translateY(-1px);
        -ms-transform: translateY(-1px);
        -webkit-transform: translateY(-1px);
      }
      a {
        color: white;
      }
  
      &:after {
          content: none;
      }
      
    }
  }
  
}

// split menu at ultrawide
@media screen and (min-width: 76em) {
  .menu-special-menu-container {
      position: absolute;
      right: 0;
      
  }
  .menu-main-nav-container {
      float: none;
      margin: 0 auto;
      display: inline-block;
  }
}


/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
    display: block;
    
	}
}

/* ------------------------------------------------------------ *\
  Nav Trigger
\* ------------------------------------------------------------ */

.nav-trigger { font-size: 14px; position: absolute; background: transparent; display: inline-block; width: 68px; height: 54px; right: 0px; top: 0px; display: none; z-index: 55; text-decoration: none; transition: top .2s, right .2s }
.nav-trigger span { 
  position: absolute; 
  display: block; 
  height: 2px; 
  width: 32px; 
  background: #828282; 
  transition: top .2s .25s, left .2s .25s, opacity .2s .25s, -webkit-transform .2s 0s; 
  transition: top .2s .25s, left .2s .25s, opacity .2s .25s, transform .2s 0s; 
  left: 18px; 
}
.nav-trigger span:nth-child(1) { top: 8px; }
.nav-trigger span:nth-child(2) { top: 18px; }
.nav-trigger span:nth-child(3) { top: 28px; }

.nav-trigger.active { 
  background-color: white; 
  border-top: 10px solid white;
  height: 64px;
  top: 32px;
  right: 16px;  
}
.nav-trigger.active span {  transition: background .2s, top .2s, left .2s, opacity .2s, -webkit-transform .2s .25s; transition: background .2s, top .2s, left .2s, opacity .2s, transform .2s .25s; }
    
.nav-trigger.active span:nth-child(3),
.nav-trigger.active span:nth-child(1) { top: 8px; background-color: #828282; }

.nav-trigger.active span:nth-child(2) { opacity: 0; }
.nav-trigger.active span:nth-child(1) { -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); }
.nav-trigger.active span:nth-child(3) { -webkit-transform: rotate(-45deg); -ms-transform: rotate(-45deg); transform: rotate(-45deg); }

.nav-trigger {
  .close-label, .open-label {
    color: #828282;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .close-label {
    display: none;
  }
  &.active .close-label {
    display: block;
  }
  &.active .open-label {
    display: none;
  }
}











@media all and (min-width: 64rem) {

  .menu-main-nav-container > ul > li > a:not(.words-1) {
      height: 87px;
  }
  .menu-main-nav-container > ul > li:hover, .menu-main-nav-container > ul > li.open, .menu-main-nav-container > ul > li.current-menu-item {
    & + li:after {
      content: none;
    }
  }
  body:not(.mobile-or-library) {
    .main-navigation .menu-main-nav-container > ul > li.current-menu-item, .main-navigation .menu-main-nav-container > ul > li.current-menu-ancestor {
      background-color: #dcdcdc;
      > a {
        color: #828282;
      }
      &:hover {
        background-color: $color__elms-green;
        
        > a {
          color: white;
        }
      }
    }
    &.current-menu-item + li:after {
      content: none;
    }
  }
  
}

@media all and (max-width: 92rem) and (min-width: 64rem) {
  body:not(.mobile-or-library) {
    .main-navigation .menu-main-nav-container > ul > li > a, .main-navigation .menu-special-menu-container > ul > li > a {
        padding: 23px 1em;
        letter-spacing: -.15px;
    }
    
  }
  
}

@media all and (max-width: 80rem) and (min-width: 64rem) {
  body:not(.mobile-or-library) {
    .main-navigation .menu-main-nav-container, .main-navigation .menu-special-menu-container {
      > ul {
        height: 87px;
        vertical-align: middle;
        text-align: center;
        font-size: 14px;
        > li {
          max-width: 12.1em;
          font-size: .9em;
          > a {
            padding: 26px .75em 25px; 
            letter-spacing: -.325px;
            font-size: 12px;
          }
        }
      }
    }
    .main-navigation .menu-special-menu-container > ul > li {
      max-width: 8em;
    } 
  }
}








body.mobile-or-library {
  
  .nav-trigger { display: inline-block; }
  .main-navigation {
    background: white;
    -webkit-transform: translateY(-50%) scaleY(0) translateZ(-90px); 
    -ms-transform: translateY(-50%) scaleY(0) translateZ(-90px); 
    transform: translateY(-50%) scaleY(0) translateZ(-90px); 
    position: fixed; 
    top: 0; 
    bottom: 0; 
    right: 0; 
    width: 100%; 
    height: 100%;
    max-width: 100%;
    overflow: auto;
    padding: 0; 
    margin-top: 0px;
  }
  header#masthead.active .main-navigation { 
    transform: translateX(0) translateZ(0);
    -webkit-transform: translateX(0) translateZ(0);
    -ms-transform: translateX(0) translateZ(0);
    opacity: 1; 
    visibility: visible; 
    transition: .365s transform;
    
    > div > ul > li {
      transform: translateX(0) translateZ(0);
      -webkit-transform: translateX(0) translateZ(0);
      -ms-transform: translateX(0) translateZ(0);
      -webkit-opacity: 1;
      -moz-opacity: 1;
      opacity: 1;
    }
  }
  
  .menu-main-nav-container, .menu-special-menu-container {
    float: none; 
    text-align: left; 
    position: relative;
    right: auto;
    margin: 0;
    display: block;
  }
  .menu-main-nav-container > ul {
    > li {
      max-width: none;
      text-align: left;
      display: block;
      
      > a {
        font-size: 21px;
        color: $color__elms-green;
        text-transform: uppercase;
        font-weight: bold;
        padding-right: 3em;
      }
    }
  }
  .menu-main-nav-container > ul, .menu-special-menu-container > ul {
    height: auto;
    //padding-top:216px;
    display: flex;
    flex-direction: column;
    
    
    
    > li {
      max-width: none;
      text-align: left;
      display: block;
      border-bottom: 1px solid #f5f5f5;
      height: auto;
      &:after { 
        content: none;
      }
      
    	> a {
        display: block;
        position: relative;
        letter-spacing: 0;
        // remove those manual main menu page breaks
        br {
          display: none;
        }
        
        //padding: 19px 2em;
        
      
        &.words-1 {
          //padding: 29px 2em;
        }
    	}
      &.search-item > a {
        display: none;
      }
      
      > ul.sub-menu {
        width: 100%;
        right: auto;
        top:0;
        position: relative;
        margin: 0;
        padding: $gutter_width;
        border: none;
        border-top: 1px solid #969696;
        border-bottom: 1px solid #969696;
        background: white;
        max-width: 100%;
        border-top: none;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
        z-index: 9 !important;
        
        width: auto;
        border-top: none;
        visibility: visible;
        opacity: 1;
        display: none;
        
        &, a {
          color: $color__elms-green;
        }
      }
      &.open > ul.sub-menu, &.search-item > ul.sub-menu.for-search {
        display: block;
        background-color: #f5f5f5;
        border-bottom: 0;
        top: 0px;
      }
      &.search-item > ul.sub-menu.for-search{
        background-color: white;
      }
      #menu-item-search {
        height: 50px;
      }
      &.menu-item-has-children > a:after {
        content: "";
        width: 21px;
        height: 21px;
        position: absolute;
        right: $gutter_width;
        top: 1.25em;
        top: calc(50% - 11px);
        background-image: url(images/icon-menu-more.png);
        background-size: 100%;
        background-size: cover;
        background-repeat: no-repeat;
      }

      &.menu-item-has-children.open > a:after {
        background-image: url(images/icon-menu-less.png);
      }
      transform: translateX(50%) translateZ(0);
      -webkit-transform: translateX(50%) translateZ(0);
      -ms-transform: translateX(50%) translateZ(0);
      -webkit-opacity: 0;
      -moz-opacity: 0;
      opacity: 0;
      -webkit-transition: -webkit-transform 200ms ease-out 100ms, opacity 200ms ease-out 100ms;
      transition: transform 200ms ease-out 200ms, opacity 200ms ease-out 200ms;

      &:nth-child(1) {
        -webkit-transition: -webkit-transform 200ms ease-out 220ms, opacity 200ms ease-out 220ms;
        transition: transform 200ms ease-out 220ms, opacity 200ms ease-out 220ms;
      }
      &:nth-child(2) {
        -webkit-transition: -webkit-transform 200ms ease-out 340ms, opacity 200ms ease-out 340ms;
        transition: transform 200ms ease-out 340ms, opacity 200ms ease-out 340ms;
      }
      &:nth-child(3) {
        -webkit-transition: -webkit-transform 200ms ease-out 460ms, opacity 200ms ease-out 460ms;
        transition: transform 200ms ease-out 460ms, opacity 200ms ease-out 460ms;
      }
      &:nth-child(4) {
        -webkit-transition: -webkit-transform 200ms ease-out 580ms, opacity 200ms ease-out 580ms;
        transition: transform 200ms ease-out 580ms, opacity 200ms ease-out 580ms;
      }
      &:nth-child(5) {
        -webkit-transition: -webkit-transform 200ms ease-out 700ms, opacity 200ms ease-out 700ms;
        transition: transform 200ms ease-out 700ms, opacity 200ms ease-out 700ms;
      }
      &:nth-child(6) {
        -webkit-transition: -webkit-transform 200ms ease-out 820ms, opacity 200ms ease-out 820ms;
        transition: transform 200ms ease-out 820ms, opacity 200ms ease-out 820ms;
      }
      &:nth-child(7) {
        -webkit-transition: -webkit-transform 200ms ease-out 940ms, opacity 200ms ease-out 940ms;
        transition: transform 200ms ease-out 940ms, opacity 200ms ease-out 940ms;
      }
      &:nth-child(8) {
        -webkit-transition: -webkit-transform 200ms ease-out 1060ms, opacity 200ms ease-out 1060ms;
        transition: transform 200ms ease-out 1060ms, opacity 200ms ease-out 1060ms;
      }
      &:nth-child(9) {
        -webkit-transition: -webkit-transform 200ms ease-out 1180ms, opacity 200ms ease-out 1180ms;
        transition: transform 200ms ease-out 1180ms, opacity 200ms ease-out 1180ms;
      }
    }
  }
  .menu-special-menu-container > ul > li > a {
    text-align: center;
  }
  .menu-main-nav-container > ul > li.open, .menu-main-nav-container > ul > li:hover {
    background-color: inherit;
  }
  
  .menu-special-menu-container > ul > li:last-child {  
    order: -2;
    margin: 32px;
    width: 80%;
    width: calc(100% - 68px - 64px);
    max-width: 204px;
    
  }
}


body.mobile-or-library.page-template-nursing-landing-page, body.mobile-or-library.page-template-nursing-intermediary-landing-page, body.mobile-or-library.page-template-nursing-secondary-landing-page, body.mobile-or-library.page-template-nursing-interior-page, body.mobile-or-library.page-template-nursing-program-page, body.mobile-or-library.page-template-nursing-landing-page-2 {
	.menu-special-menu-container>ul>li.menu-item-has-children:hover > a:after {
		background-image: url(images/icon-menu-more-white.png);
	}
}

body.mobile-or-library.page-template-nursing-landing-page, body.mobile-or-library.page-template-nursing-intermediary-landing-page, body.mobile-or-library.page-template-nursing-secondary-landing-page, body.mobile-or-library.page-template-nursing-interior-page, body.mobile-or-library.page-template-nursing-program-page, body.mobile-or-library.page-template-nursing-landing-page-2 {
	.menu-special-menu-container>ul>li.menu-item-has-children.open:hover > a:after {
		background-image: url(images/icon-menu-less-white.png);
	}
}

.field-sidebar-menu-items {
  display: none;
}

// if not the main menu, don't show those breaks we put in for the main menu
div:not(.menu-main-nav-container) > ul li a br {
  display: none;
}

#interested-in-applying {
  background-color : rgb(17, 84, 56);
  width : 100%;
  padding-top : 0.85em;
  padding-right : 0.5em;
  padding-bottom : 0.85em;
  padding-left : 0.5em;
  &:hover {
    background-color: $color__elms-green-darker;
  }
}

#link-give {
  width : 100%;
  padding-top : 0.8em;
  padding-right : 0.5em;
  padding-bottom : 0.8em;
  padding-left : 0.5em;
  &:hover {
    background-color: $color__elms-gold-darker;
  }
}
@media (max-width: 1280px) and (min-width: 1024px) {
  #interested-in-applying, #link-give {
    padding-top : 1.05em;
    padding-right : 0.5em;
    padding-bottom : 1.05em;
    padding-left : 0.5em;
  }
}

