.no-js .hero--home {
    min-height: 500px;
}

@media (min-width: 64em) {
    .no-js .hero--home {
        min-height:700px;
    }
}

@media (min-width: 68em) {
    .no-js .hero-column:nth-child(1) .hero-column-image {
        opacity:.6;
    }

    .no-js .hero-column:nth-child(2) .hero-column-image {
        opacity: .4;
    }

    .no-js .hero-column:nth-child(3) .hero-column-image {
        opacity: .25;
    }

    .no-js .hero-column:nth-child(4) .hero-column-image {
        opacity: .15;
    }
}

.no-js .hero-column-content-inner h3,.no-js .hero-column-content-inner p {
    top: auto;
    opacity: 1;
}

@media (min-width: 68em) {
    .no-js .hero--home.solo .hero-column:nth-child(2) .hero-column-image {
        opacity:.2;
    }

    .no-js .hero--home.solo .hero-column:nth-child(3) .hero-column-image {
        opacity: .35;
    }

    .no-js .hero--home.solo .hero-column:nth-child(4) .hero-column-image {
        opacity: .4;
    }

    .no-js .hero--home.solo .hero-column:nth-child(5) .hero-column-image {
        opacity: .6;
    }
}

@media (min-width: 64em) {
    .hero--home.solo .hero-column-image {
        background-image:none !important;
        opacity: .8;
    }
}

.hero--home.solo .hero-column:nth-child(2) {
    width:25.1%;
    left: 0;
}

.hero--home.solo .hero-column:nth-child(3) {
    width: 25.1%;
    left: 25.1%;
}

.hero--home.solo .hero-column:nth-child(4) {
    width: 25.1%;
    left: 50%;
}

.hero--home.solo .hero-column:nth-child(5) {
    width: 25.1%;
    left: 75%;
}

.hero--home__solo-image {
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover;
    background-color: #2a2727;
}

@media (max-width: 64em) {
    .hero--home__solo-image {
        background-image:none !important;
    }
}

.hero--home {
    position: relative;
}

.hero--home__message-panel-text {
    padding: 20px;
    border-top: 1px solid #5e5b57;
}

@media (min-width: 40em) {
    .hero--home__message-panel-text {
        padding:30px;
    }
}

@media (min-width: 64em) {
    .hero--home__message-panel-text {
        border:none;
        display: inline-block;
        vertical-align: middle;
        width: 98%;
        padding: 0;
    }
}

.hero--home__message-panel {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 75px 0 0;
    background: #2a2727;
}

@media (min-width: 64em) {
    .hero--home__message-panel {
        position:absolute;
        top: 0;
        right: 0;
        padding: 105px 30px 30px 30px;
        width: 40%;
    }

    .hero--home__message-panel:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -0.25em;
    }
}

@media (min-width: 75em) {
    .hero--home__message-panel {
        width:34%;
    }
}

.hero--home__message-panel .title {
    color: #e3ddd5;
    hyphens: auto;
    -moz-hyphens: none;
    -ms-hyphens: none;
    -webkit-hyphens: none;
    hyphens: none;
}

.hero--home__message-panel .title.adjust-fit {
    font-family: "adelle",serif;
    font-size: 1.6875em;
    font-weight: 400;
    line-height: 1.1em;
}

@media (min-width: 30em) {
    .hero--home__message-panel .title.adjust-fit {
        font-size:2.25em;
        line-height: 1.1em;
    }
}

@media (min-width: 40em) {
    .hero--home__message-panel .title.adjust-fit {
        font-size:2.75em;
        line-height: 1.1em;
    }
}

@media (min-width: 64em) {
    .hero--home__message-panel .title.adjust-fit {
        font-size:3.125em;
        line-height: 1.1em;
    }
}

@media (min-width: 64em) {
    .hero--home__message-panel .title.adjust-fit {
        font-size:2.125em;
        line-height: 1.1em;
    }
}

@media (min-width: 75em) {
    .hero--home__message-panel .title.adjust-fit {
        font-size:2.125em;
        line-height: 1.1em;
    }
}

@media (min-width: 86em) {
    .hero--home__message-panel .title.adjust-fit {
        font-size:2.375em;
        line-height: 1.1em;
    }
}

@media (min-width: 90em) {
    .hero--home__message-panel .title.adjust-fit {
        font-size:2.625em;
        line-height: 1.1em;
    }
}

@media (min-width: 100em) {
    .hero--home__message-panel .title.adjust-fit {
        font-size:2.9375em;
        line-height: 1.1em;
    }
}

.hero--home__message-panel .title.force-small {
    font-family: "adelle",serif;
    font-size: 1.3125em;
    font-weight: 400;
    line-height: 1.1em;
}

@media (min-width: 30em) {
    .hero--home__message-panel .title.force-small {
        font-size:2em;
        line-height: 1.1em;
    }
}

@media (min-width: 40em) {
    .hero--home__message-panel .title.force-small {
        font-size:2.5em;
        line-height: 1.1em;
    }
}

@media (min-width: 64em) {
    .hero--home__message-panel .title.force-small {
        font-size:3.125em;
        line-height: 1.1em;
    }
}

@media (min-width: 64em) {
    .hero--home__message-panel .title.force-small {
        font-size:1.6875em;
        line-height: 1.1em;
    }
}

@media (min-width: 75em) {
    .hero--home__message-panel .title.force-small {
        font-size:1.6875em;
        line-height: 1.1em;
    }
}

@media (min-width: 86em) {
    .hero--home__message-panel .title.force-small {
        font-size:1.9375em;
        line-height: 1.1em;
    }
}

@media (min-width: 90em) {
    .hero--home__message-panel .title.force-small {
        font-size:2.0625em;
        line-height: 1.1em;
    }
}

@media (min-width: 100em) {
    .hero--home__message-panel .title.force-small {
        font-size:2.25em;
        line-height: 1.1em;
    }
}

.hero--home__message-panel .scroll-indicator {
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 100px;
    height: 50px;
    overflow: hidden;
    display: none;
    margin-left: -50px;
}

@media (min-width: 68em) {
    .hero--home__message-panel .scroll-indicator {
        left:30px;
        margin-left: 0;
    }
}

@media (min-width: 64em) {
    .hero--home__message-panel .scroll-indicator {
        display:block;
    }
}

.hero--home__message-panel .scroll-indicator.is-hovered .icon {
    top: 20px;
}

.hero--home__message-panel .scroll-indicator.is-hovered .scroll-indicator__label {
    opacity: 0;
    bottom: 48px;
}

.hero--home__message-panel .scroll-indicator__btn {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background: #e3ddd5;
    cursor: pointer;
}

.hero--home__message-panel .scroll-indicator__btn .icon {
    position: absolute;
    top: 9px;
    left: 0;
    display: block;
    width: 100%;
    text-align: center;
    color: #eb6971;
    -webkit-transition: top 0.5s cubic-bezier(0.645,0.045,0.355,1);
    transition: top 0.5s cubic-bezier(0.645,0.045,0.355,1);
}

.hero--home__message-panel .scroll-indicator__label {
    position: absolute;
    left: 0;
    bottom: 55px;
    display: block;
    width: 100%;
    font-family: "Open Sans",sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: .05em;
    text-transform: uppercase;
    text-align: center;
    color: #2a2727;
    -webkit-transition: bottom 0.3s cubic-bezier(0.645,0.045,0.355,1),opacity 0.3s;
    transition: bottom 0.3s cubic-bezier(0.645,0.045,0.355,1),opacity 0.3s;
}

.field-hero_columns {
    position: relative;
    width: 100%;
    height: auto;
    background:#777;
    background-size:100%;
    background-size: cover;
}

.field-hero_columns:before,.field-hero_columns:after {
    content: " ";
    display: table;
}

.field-hero_columns:after {
    clear: both;
}


@media (min-width: 64em) {
    .field-hero_columns {
        position:absolute;
        height: 100%;
        overflow: hidden;
    }
}


.hero-column {
    position: relative;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: block;
    background-position: center center;
    background-size: cover;
    background-color: #2a2727;
    text-align: center;
    
    text-decoration: none;
    
    * {
      color: white;
    }
    
    
    .hero--home__panel-content-inner {
      position: absolute;
      top: 35%;
      top: calc(50% - 6em);
      margin: 0 $gutter_width;
      left: 0;
      right: 0;
      
    }
    h3.field-title {
      font-family: "soleil", sans-serif;
      border-top: 1px solid white;
      border-bottom: 1px solid white;
      padding: .5em 0;
      font-weight: 200;
      text-transform: uppercase;
      font-size: 32px;
      color: white;
      margin-bottom: 1em;
      text-shadow: 2px 2px 6px rgba(0,0,0,.2);
      transition: .4s all;
      -webkit-transition-delay: 500ms;
      -moz-transition-delay: 500ms;
      -o-transition-delay: 500ms;
      transition-delay: 500ms;
    }
    
    .hero-button {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background: black;
      line-height: 90px;
      height: 40px;
      
      .hero-button-inner {
        border: 1px solid white;
        padding: 1em;
        font-size: 18px;
      }
      
    }
    
    &:after {
      content:"";
      transition: .3s linear all;
      position: absolute;
      width: 100%;
      height: 100%;
      display: block;
      background: rgba(0,0,0,.13);
      height: calc(100% - 40px);
    }
    .video-bg {
      opacity: 0;
      visibility: hidden;
      transition: .4s opacity;
      @media all and (max-width:767px) {
        display: none;
      } 
    }
    
    &.open {
      .video-bg {
        opacity: 1;
        visibility: visible;
  
        @media all and (max-width:767px) {
          display: none;
        }  
      }
      .hero-button-inner {
        //background: white;
      }
      
      &:nth-child(1) .hero-button-inner {
        color: $color__elms-green;
      }
      &:nth-child(2) .hero-button-inner {
        color: $color__elms-gold;
      }
      &:nth-child(3) .hero-button-inner {
        color: $color__elms-blue;
      }
      &:nth-child(4) .hero-button-inner {
        color: $color__elms-purple;
      }
      
      h3.field-title {
        opacity: 0;
        
        transform: scale(1);
      }
      
      &:after {
        background: rgba(0,0,0,0);
      }
    }
    &.quiet {
      h3.field-title {
        opacity: 0;
        transform: scale(.8);
      }
      &:after {
        background: rgba(0,0,0,.4);
      }
    }
}

.field-hero_columns:hover h3.field-title {
  @media (min-width: 48em) {
    opacity: 0;
    transition: 1s opacity;
  }
}


@media (min-width: 64em) {
    .hero--home__panel-image {
        position:absolute;
        top: 0;
        height: 100%;
    }
}

.hero-column {
    height: 216px;
}

.hero-column .hero-column-image {
    opacity: 0;
}

.hero-column:nth-child(1) {
    .hero-button, .hero-button-inner {
      background-color: $color__elms-green;
    }
    &:hover .hero-button-inner {
      //color: $color__elms-green;
      //background-color: white;
    }
}

.hero-column:nth-child(2) {
    .hero-button, .hero-button-inner {
      background-color: $color__elms-gold;
    }
    &:hover .hero-button-inner {
      //color: $color__elms-gold;
      //background-color: white;
    }
}

.hero-column:nth-child(3) {
    .hero-button, .hero-button-inner {
      background-color: $color__elms-blue;
    }
    &:hover .hero-button-inner {
      //color: $color__elms-blue;
      //background-color: white;
    }
}

.hero-column:nth-child(4) {
    .hero-button, .hero-button-inner {
      background-color: $color__elms-purple;
    }
    &:hover .hero-button-inner {
      //color: $color__elms-purple;
      //background-color: white;
    }
}


.hero-column h3.field-title {
  font-size: 21px;
  display: inline-block;
  padding: .5em $gutter_width;
}

@media all and (min-width: 64em) and (max-width: 64em) {
  .hero-column h3.field-title {
    font-size: 18px;
    display: block;
    padding: 0.5em 0;
  }
}
@media (min-width: 64em) {
  .hero-column {
      position:absolute;
      top: 0;
      height: 100%;
      z-index: 1;
  }
  
  .hero-column .hero-column-image {
      opacity: 0;
  }

  .hero-column:nth-child(1) {
      width: 25.1%;
  }

  .hero-column:nth-child(2) {
      width: 25.1%;
      left: 25.1%;
  }

  .hero-column:nth-child(3) {
      width: 25.1%;
      left: 50%;
  }

  .hero-column:nth-child(4) {
      width: 25.1%;
      left: 75%;
  }
    
  
    
}

@media (min-width: 72em) {
  
  .hero-column h3.field-title {
    font-size: 24px;
  }
  .hero-column .hero--home__panel-content-inner {
      top: 35%;
      top: calc(50% - 9em);
      z-index: 50;
  }
}

@media (min-width: 86em) {
  
  .hero-column h3.field-title {
    font-size: 32px;
  }
}



.hero-column-label-wrap {
    position: absolute;
    z-index: 10;
    bottom: 0;
    left: 0;
    text-align: center;
    display: block;
    width: 100%;
}

.hero-column-label-wrap:before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 120px;
    background: -webkit-linear-gradient(90deg,rgba(0,0,0,0.5),transparent);
    background: linear-gradient(0deg,rgba(0,0,0,0.5),transparent);
    opacity: 1;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
}

.hero-column-label {
    position: relative;
    bottom: 10px;
    z-index: 2;
    font-family: "Open Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: .1em;
    font-weight: 600;
    display: inline-block;
    padding: 10px 15px;
    border-top: 1px solid;
    color: #ffffff;
}

.hero-column-label:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-left: 1px solid;
    opacity: 0;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
}

.hero-column-content {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.hero-column-content:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: -webkit-linear-gradient(90deg,#ae87b9,#eb6971);
    background: linear-gradient(0deg,#ae87b9,#eb6971);
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

@media (min-width: 68em) {
    .hero-column-content:before {
        display:block;
        opacity: 0;
    }
}

.hero-column-content-inner {
    position: absolute;
    width: 100%;
    height: auto;
    padding: 30px;
    text-align: center;
    color: #ffffff;
    top: 0;
}

.hero-column-content-inner h3,.hero-column-content-inner p {
    position: relative;
    color: #ffffff;
    opacity: 1;
    top: 0px;
    -webkit-transition: all 0.5s cubic-bezier(0.445,0.05,0.55,0.95);
    transition: all 0.5s cubic-bezier(0.445,0.05,0.55,0.95);
}

@media (min-width: 68em) {
    .hero-column-content-inner h3,.hero-column-content-inner p {
        color:#2a2727;
    }
}

.hero-column-content-inner h3 {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.hero-column-content-inner h3.focusable:active,.hero-column-content-inner h3.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.hero-column-content-inner p {
    -webkit-transition-delay: .15s;
    transition-delay: .15s;
    padding-top: 20px;
    padding-bottom: 20px;
}

@media (min-width: 68em) {
    .hero-column-content-inner p {
        padding-top:30px;
        padding-bottom: 30px;
        border-top: 1px solid;
        border-bottom: 1px solid;
    }
}

@media (min-width: 68em) {
    .hero-column-content-inner h3,.hero-column-content-inner p {
        opacity:0;
        top: 30px;
    }

    .hero-column-content-inner p {
        width: 224px;
        margin: 0 auto;
        height: 195px;
    }
}

@media (min-width: 64em) {
    .hero-column-content-inner {
        top:auto;
        bottom: $main_nav_height;
    }

    .hero-column-content-inner h3 {
        font-size: 50px;
        clip: auto;
        height: auto;
        margin: 0 0 0.75em 0;
        overflow: visible;
        position: static;
        width: auto;
    }

    .hero-column-content-inner p {
        width: 180px;
        margin: 0 auto;
        height: auto;
    }
}

@media (min-width: 75em) {
    .hero-column-content-inner h3 {
        font-size:60px;
    }

    .hero-column-content-inner p {
        width: 220px;
    }
}

@media (min-width: 86em) {
    .hero-column-content-inner p {
        width:280px;
        font-size: 21px;
        line-height: 28px;
    }
}

@media (min-width: 100em) {
    .hero-column-content-inner h3 {
        font-size:70px;
    }

    .hero-column-content-inner p {
        width: 320px;
        font-size: 24px;
        line-height: 30px;
    }
}

.hero-column-image {
    width: 100%;
    height: 300px;
    background-position: center center;
    background-size: cover;
    background-color: #2a2727;
    opacity: .5;
}

@media (min-width: 40em) {
    .hero-column-image {
        position:absolute;
        top: 0;
        height: 100%;
    }
}

.hero-column .hero-column-content:before {
    background: -webkit-linear-gradient(90deg,#ae87b9,#eb6971);
    background: linear-gradient(0deg,#ae87b9,#eb6971);
}

.hero-column.lime .hero-column-content:before {
    background: -webkit-linear-gradient(90deg,#e0ec5b,#7bc7c7);
    background: linear-gradient(0deg,#e0ec5b,#7bc7c7);
}

.hero-column.tang .hero-column-content:before {
    background: -webkit-linear-gradient(90deg,#f7b245,#eb6971);
    background: linear-gradient(0deg,#f7b245,#eb6971);
}

.hero-column.red .hero-column-content:before {
    background: -webkit-linear-gradient(90deg,#eb6971,#f7b245);
    background: linear-gradient(0deg,#eb6971,#f7b245);
}

.hero-column.purple .hero-column-content:before {
    background: -webkit-linear-gradient(90deg,#ae87b9,#eb6971);
    background: linear-gradient(0deg,#ae87b9,#eb6971);
}

.hero-column.blue .hero-column-content:before {
    background: -webkit-linear-gradient(90deg,#7bc7c7,#ae87b9);
    background: linear-gradient(0deg,#7bc7c7,#ae87b9);
}

.hero-column.black .hero-column-content:before {
    background: -webkit-linear-gradient(90deg,#7bc7c7,#ae87b9);
    background: linear-gradient(0deg,#7bc7c7,#ae87b9);
}

.field-hero_columns.has-active .hero-column {
    width: 20%;
}

.field-hero_columns.has-active .hero-column.is-active {
    width: 40%;
}

.hero-column.is-hovered .hero--home__image {
    opacity: .9;
}

.hero-column.is-hovered .hero-column-content-inner h3,.hero-column.is-hovered .hero-column-content-inner p {
    opacity: 1;
    top: 0px;
}

.hero-column.is-active .hero-column-content:before {
    opacity: 1;
}

.hero-column.is-active .hero-column-label-wrap:before {
    opacity: 0;
}

.hero-column.is-active .hero-column-label:before {
    opacity: 1;
}

.hero-column {
  .background-container {
    position: absolute;
    top: -25%;
    bottom: -25%;
    left: -25%;
    right: -25%;
  }
  .hero-button {
    transition: .4s all;
      .hero-button-inner {
        transform: translateY(120px);
        transition: .4s all;
        -webkit-transition-delay: 0ms;
        -moz-transition-delay: 0ms;
        -o-transition-delay: 0ms;
        transition-delay: 0ms;
        border: none;
        color: rgba(255,255,255,0);
        line-height: 24px;
        display: block;
        width: 100%;
        position: absolute;
        bottom: -200px;
        
        &:before, &:after {
          content: '';
          opacity: 1;
          position: absolute;
          display: block;
          transition: opacity 1.635s, -webkit-transform 1.635s;
          transition: opacity 1.635s, transform 1.635s;
        }
        &:before {
          top: 16px;
          right: 16px;
          bottom: 16px;
          left: 16px;
          border-top: 1px solid #fff;
          border-bottom: 1px solid #fff;
        }
        &:after {
          top: 16px;
          right: 16px;
          bottom: 16px;
          left: 16px;
          border-right: 1px solid #fff;
          border-left: 1px solid #fff;
        }
      }
      .hero-button-inner-inner {
        opacity: 0;
        transition: .6s all;
        -webkit-transition-delay: 500ms;
        -moz-transition-delay: 500ms;
        -o-transition-delay: 500ms;
        transition-delay: 500ms;
        padding: 1em;
        //border: 1px solid white;
        font-size: 14px;
        line-height: 1.29;
        
        p:last-child {
          margin-bottom: 0;
        }
      }
  }
  &.open .hero-button {
    //height: auto;
    transition: .4s all;
    -webkit-transition-delay: 500ms;
    -moz-transition-delay: 500ms;
    -o-transition-delay: 500ms;
    transition-delay: 500ms;
  }
  &.final .hero-button .hero-button-inner {
    transform: translateY(0px);
    bottom: 0px;
    -webkit-transition-delay: 500ms;
    -moz-transition-delay: 500ms;
    -o-transition-delay: 500ms;
    transition-delay: 500ms;
    &:before, &:after {
      //transform: scale(1,1);
    }
  }
  &.final .hero-button .hero-button-inner-inner {
    opacity: 1;
  }
}

@media all and (max-width: 63.999em) {
  .hero-column {
    height: auto;
    h3.field-title {
      margin:calc(2em + 8vw) 0;
    }
    .hero--home__panel-content-inner {
      position: relative;
    }
    .hero-button {
      height: auto; 
      position: relative;
      .hero-button-inner {
        position: relative;
        bottom: auto;
        transform: translateY(0px);
      }
      .hero-button-inner-inner {
        opacity: 1;
        transition: .3s all;
        border: 1px solid white; 
      }
    }
    
  }
}


.section-mission_statement {
  margin: 60px $gutter_width 56px $gutter_width;
  @media all and (max-width: 63.999em) {
    .pre-title {
      text-align: center;
      font-size: 1.5em;
      line-height: 1;
    
      &:before, &:after {
        content: none;
      }
    }
  }
  
  @media all and (min-width: 64em) {
    
    text-align: center;
    
    .field-mission_statement_body {
      max-width: 720px;
      margin: 0 auto;
    }
  }
  margin: $section_spacing $gutter_width;
  .field-mission_statement {
    color: $color__elms-green;
    font-size: 56px;
    margin: 0 auto $gutter_width;
    
    
    @media all and (max-width: 63.999em) {
      line-height: 1;
      margin-top: 0;
      font-size: 1.8em;
      
    }
  }
  
}

.section-statistics-container {
  background-position: center center;
  background-size: 100%;
  background-size: cover;
  @media (max-width: 63.999em) {
    background-image: none !important;
  }
}
.section-statistics {
  margin: 0 auto 0;
  padding: 0;
  max-width: 1600px;
  
  
  .statistic {
    
    .statistic-inner {
      margin: 0 $gutter_width $gutter_width;
      background: $color__elms-green;
      color: white;
      border: 4px solid white;
      padding: $gutter_width $gutter_width $gutter_width*1.5;
      text-align: center;
    }
    .field-statistic_figure {
      color: $color__elms-gold;
      font-size: 42px;
      font-weight: 700;
      font-family: "soleil",sans-serif;
      margin-bottom: 0;
    }
  }
  .field-statistic_explanation {
      font-size: 16px;
  }
  
  
  @media (min-width: 64em) {
    .statistic {
      display: flex;
    }
  }
  @media (min-width: 64em) {
    margin: $gutter_width*4 auto 0;
    padding: 0 16px;
    .statistic {
    
      .statistic-inner {
        margin: -$gutter_width*2 $gutter_width/2 16em;
        margin-bottom: 32vw;
        padding: 10px 32px 28px;
        
      }
      .field-statistic_figure {
        font-size: 56px;
      }
    }
  }
  @media (min-width: 72em) {
    .statistic .statistic-inner {
      margin: -$gutter_width*2 22.5px 16em 22.5px;
    }
  }
  
}

.news-events {
  max-width: 1200px;
  margin: 0 auto;
  
  .news-events-inner {
    @media (min-width: 64em) {
      margin: 0 $gutter_width;
    }
  }
  
  .field-news_events_title {
    text-align: center;
    color: $color__elms-green;
    font-size: 56px;
    margin: 0 auto $gutter_width;
    padding: 0 $gutter_width $gutter_width;
    line-height: 1em; 
    @media all and (max-width: 63.999em) {
      font-size: 1.8em;
      line-height: 1;
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  .event {
    color: white;
    margin-bottom: $gutter_width;
    background: $color__elms-green;
    .event-image {
      background-color: gray;
      background-size: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50%;
      position: relative;
      img {
        display: none;
      }
    }
    .times {
      font-weight: bold;
    }
    .field-title {
      margin: 0 0 .5em;
      font-size: 21px;
      font-weight: bold;
      color: white;
      @media all and (min-width: 64em) and (max-width:68em){
        font-size: 18px;
      }
    }
    .permalink {
      text-decoration: none;
      text-transform: uppercase;
      color: white;
      font-size: 14px;
      font-weight: 500;
      vertical-align: top;
      line-height: 1.5em;
      &:visited {
        color: white;
      }
      &:after {
        content: "";
        display: inline-block;
        width: 24px;
        height: 24px;
        background-image: url("images/arrow-more.png");
        background-size: 100%;
        background-repeat: no-repeat;
        margin-left: 1em;
        position: absolute;
      }
    }
  }
  .more-button-container {
    @media all and (max-width: 63.999em) {
        margin-bottom: 0;
      }
  }
  .news-events-column .news-item {
    @media (max-width: 64em) {
      padding: 0 $gutter_width;
    }
    
  }
  @media all and (min-width: 64em) {
    .news-events-column:first-child .news-item {
      padding: 0;
      padding-right: $gutter_width / 2;
    }
    .news-events-column:nth-child(2) .news-item {
      padding: 0;
      padding-left: $gutter_width / 2;
    }
  }
  .main-event-content {
    margin: $gutter_width;
    padding-bottom: $gutter_width;
  }
  .start-date {
    position: absolute;
    background-color: $color__elms-green;
    text-align: center;
    width: 78px;
    height: 78px;
    padding-top: 15px;
    .day {
      font-weight: 500;
      font-size: 32px;
      line-height: 1em;
    }
    .month {
      font-size: 14px;
      text-transform: uppercase;
      line-height: 1em;
    }
  }
  .news-item-long, .news-item-short {
    .event {
      .event-image {
        width: 100%;
        height: 260px;
        height: 56vw;
        
      }
      .start-date {
        bottom: 0;
        left: 0;
      }
    }
  }
  @media (min-width: 64em) {
    .news-item-long {
      .event {
        .event-image {
          width: 100%;
          height: 596px;
        
        }
        .start-date {
          bottom: 0;
          left: 0;
        }
      }
    }
    .news-item-short {
      .event {
        .event-image {
          width: 230px;
          height: 230px;
          float: left;
        }
        .start-date {
          top: 0;
          right: 0;
          bottom: auto;
          left: auto;
        }
      
        .main-event-content {
          float: left;
          width: calc(100% - 294px);
        }
      
        height: 230px;
        &:after {
          @include clearfix;
        }
      }
    }
  }
  
  .news-events-column:nth-child(1) .news-item:nth-child(1) .event, .news-events-column:nth-child(1) .news-item:nth-child(1) .event .start-date {
    background-color: $color__elms-gold;
  }
  .news-events-column:nth-child(1) .news-item:nth-child(2) .event, .news-events-column:nth-child(1) .news-item:nth-child(2) .event .start-date {
    background-color: $color__elms-blue;
  }
  .news-events-column:nth-child(2) .news-item:nth-child(1) .event, .news-events-column:nth-child(2) .news-item:nth-child(1) .event .start-date {
    background-color: $color__elms-green;
  }
  .news-events-column:nth-child(2) .news-item:nth-child(2) .event, .news-events-column:nth-child(2) .news-item:nth-child(2) .event .start-date {
    background-color: $color__elms-purple;
  }
  

  
  
}

.more-button-container {
  text-align: center;
  margin-bottom: $gutter_width*2;
  .more-button {
    text-decoration: none;
    text-transform: uppercase;
    color: $color__elms-gold;      
    border: 2px solid #c3a250;
    padding: .8em 2em .7em 2em;
    font-size: 16px;
    transition: all .25s ease-in-out;
    
    
    display: inline-block;
    &:hover {
      color: white;
      background-color: $color__elms-gold;
    }
  }
}

.calls-to-action {
  
  @media (max-width: 63.999em) {
    background-color: $color__elms-green;
  }
  
  .calls-to-action-title {
    position: relative;
    margin: $gutter_width 0 0;
    padding: $gutter_width * 2 0 $gutter_width*1.5;
    background-color: $color__elms-green;
    
    
    @media (min-width: 64em) {
      margin: $gutter_width $gutter_width 0;
    }
    @media (min-width: 64em) {
      margin: $gutter_width*2 $gutter_width 0;
    }
  }
  .field-calls_to_action_title {
      margin: 0 auto;
      text-align: center;
      color: white; 
      font-size: 56px;
      line-height: 1em;
  }
  .calls-to-action-feature {
    padding: 0;
    margin: 0;
  }
  .cta-image {
    background-color: gray;
    background-size: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    position: relative;
    height: 460px;
    display: none;
    @media (min-width: 64em) {
      display: block;
    }
    img {
      display: none;
    }
  }
  .cta {
    background: $color__elms-gold;
    text-align: center;
    
    margin: 0 $gutter_width $gutter_width;
    
    &:hover .permalink {
      color: $color__elms-gold;
      background-color: white;
    }
    
    @media (min-width: 64em) {
      margin: 0;
    }
  }
  .cta:nth-child(2) {
    background: $color__elms-blue;
    
    &:hover .permalink {
      color: $color__elms-blue;
      background-color: white;
    }
  }
  .cta:nth-child(3) {
    background: $color__elms-purple;
    
    &:hover .permalink {
      color: $color__elms-purple;
      background-color: white;
    }
  }
  .permalink {
    display: inline-block;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    margin: 1.4em auto;
    padding: .8em 0 .7em 0;
    font-size: 16px;
    font-weight: 700;
    width: 13em;
    transition: all .25s ease-in-out;
    @media (min-width: 64em) {
      border: 2px solid white;
    }
    &:visited {
      color: white;
    }
  }
  @media (max-width: 64em) {
    .field-calls_to_action_title {
        font-size: 1.8em;
    }
    .calls-to-action-title {
        padding: 32px 0 32px;
    }
  }
  
  
  
}


body.page-template-home-page {
  width: 100%;
  overflow-x: hidden;
} 