body.page-template-nursing-secondary-landing-page {
	.desktopOnly {
		@media (max-width: 770px) {
			display:none;
		}
	}
	
	.menu-item:hover {
		color:white;
		a:after {
			background-image: url(images/icon-menu-more-white.png);
		}
	}
  .section-heading {
    height: auto;
    max-height: none;
    padding-top: 16px;
  }
	
	.backgroundDesktopOnly {
		background-color:white; 
	}
	
	.section-mission_statement {
		@media (max-width: 770px) {
			margin-bottom:0;
		}
	}
	
	.program-item-mobile {
		display:inline-block;
		
		a {
			font-size: 1.5em;
		}
		
		@media (max-width: 770px) {
			margin-bottom:1.5em;
		}
	}
	
	.stories, .stories-inner {
		margin-bottom: 4em;
		margin: 0px;
	}
	
	#top-background-title {
		color:white;
		font-size:56px;
		margin-top:0px;
		
		@media (max-width: 770px) {
			font-size: 1.8em;
		}
	}
	
	#top-background-container {
		width:100%;
		position:absolute;
		top: 50%;
		transform: translateY(-50%);
		text-align: center;
	}
	
	.top-background-image {
		height: 32vw;
		min-height: 240px;
		max-height: 540px;
		width:100%;
		background-position: 50% 20.5%;
		background-size:cover;
	}
	
	.top-menu-container {
		width:86%;
		margin-left:5%;
		margin-top: -2em;
		background-color:white;
	}
	
	.top-menu-link, top-menu-link:visited {
		color:black;
	}
	
	.mission-statement-body {
		width:64%;
		margin: 0 auto;
		
		@media (max-width: 770px) {
			width:100%;
		}
	}
	
	.mission-statement-container {
		margin-bottom:1.5em;
	}
	
	#mission-statement-pt-1, #mission-statement-pt-2{
		p:last-child {
			margin-bottom: 0;
		}
	}
	.program-list {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    
		@media (max-width: 770px) {
			display: block;
		}
	}
	.rn-item{ 
    padding: 0 2em 2em 2em;
    display: inline-block;
    vertical-align: top;
    flex-grow: 1;
    width: 50%;
    box-sizing: border-box;
		@media (max-width: 770px) {
			display: block;
      width: 100%;
		}
	  > div {
	    position: relative;
	  }
		p {
			margin-bottom: 0;
		}
	}
	
	.calls-to-action {
		a:hover {
			color: #000000 !important;
		}
	}
	
	.program-link {
		font-family: "fontawesome";
	    font-size: 18px;
	    font-weight: normal;
	    text-transform: uppercase;
	    color: #009bcf;
	}
	
	.program-link:visited, .bottom-list-item a {
		color: #009bcf;
	}
	
	.program-link:after {
		margin-left: 0.5em;
		content:"\f138";
	}
	
	.program-track-title {
		color: #115438;
	    font-size: 40px;
	    margin: 0 auto 32px;
	}
	
	.field-title {
		margin-top:0.5em !important;
	}
	
	.field-sub-title {
		color: white;
		text-align: center;
		font-size: 32px;
		font-weight:bold;
		margin-top:0.5em;
		
		@media (max-width: 770px) {
			font-size:24px;
		}
	}
	
	.field-excerpt {
		margin: 0;
		
		@media (max-width: 770px) {
			padding-bottom: 32px;
		}
	}
	
	.elmsFont {
		font-family: "soleil", sans-serif;
	}
	
	.program-title{
		color: rgb(195, 162, 80);
		font-weight:bold;
		font-size:24px;
		margin-bottom:0;
		text-transform: uppercase;
	}
	
	.field-mission_statement_body {
		max-width:60%;
		
		@media (max-width: 770px) {
			max-width: 100%;
			width:100%;
		}
	}
	
	.bottom-container {
		position:relative;
		display:inline-block;
		margin-bottom: 2em;
	}
	
	.bottom-list-container{ 
		width: 70%;
		background-color:white;
		margin-top:5em;
		
		@media (max-width: 770px) {
			width:90%;
			margin-top:0;
			
			ul {
				padding:0;
			}
		}
	}
	
	.bottom-list-item{
	    width: 44%;
		margin: 32px;
		display: inline-block;
		vertical-align: top;
		
		@media (max-width: 770px) {
			width:100%;
		}
	}
	.bottom-title{
		color:#115438;
		font-size: 28px;
		font-weight: bold;
		margin-bottom:0;
	}
	
	.bottom-list-item p {
		margin-bottom: 0;
	}
	
	.bottom-image {
		height: 31em;
		width: 30em;
		position:absolute;
		top:0;
		right: 7em;
		z-index: -1;
	}
	
	.social-media-inner {
		background:linear-gradient(rgba(17,84,56,0.8), rgba(17,84,56,0.8)),url("http://elms-dev.gravityswitch.com/wp-content/uploads/2017/02/Postbac-Premed2016-4.jpg");
	}
	
	.cta-image{
		height:330px !important;
		
		@media (max-width: 770px) {
			display: none !important;
		}
	}
	
	.drop-down {
	    position: relative;
	    display: inline-block;
	    width: 70%;
	    margin-left:15%;
	}
	
	.drop-down-content {
	    display: none;
	    position: absolute;
	    width:100%;
	}
	
	.drop-down-button:after {
		
	}
	
	.drop-down-content a, .drop-down-button {
		width:100%;
	    color: black;
	    padding: 12px 16px;
	    text-decoration: none;
	    display: block;
	    border: 3px solid lightgray;
	    background: white;
	    font-weight:bold;
	}
	
	.drop-down-content a {
		margin-top:-3px;
	}
	
	.drop-down-button:after {
		margin-left: 6.5em;
		content:"\f107";
		font-family:"fontawesome";
	}
	
	.show {display:block;}
	
	.mobileOnly {
		display:none;
		@media (max-width: 770px) {
			display:block;
		}
	}
	
	.cta3 {
		width: 33%
	}
	
	.cta4 {
		width: 25%;
	}
	
	.cta {
		background: rgb(17,84,56) !important;
		
		@media (max-width: 770px) {
			width:100%;
		}
		
		.image-tint {
		    opacity: 0;
		    width: 100%;
		    height: 100%;
		    position: absolute;
		    -webkit-transition: opacity .25s ease-in-out;
		    -moz-transition: opacity .25s ease-in-out;
		    -ms-transition: opacity .25s ease-in-out;
		    -o-transition: opacity .25s ease-in-out;
		}
		
	    &:hover .image-tint {
			background: linear-gradient(rgba(17,84,56,0.70),rgba(17,84,56,0.70));
			z-index: 1;
			-webkit-transition: opacity .25s ease-in-out;
		    -moz-transition: opacity .25s ease-in-out;
		    -ms-transition: opacity .25s ease-in-out;
		    -o-transition: opacity .25s ease-in-out;
		     opacity: 1;
	    }
	      
	    p {
		    color:white;
		    margin-top:20%;
		    width: 70%;
		    margin-left:15%;
	    }
	    
	    &:hover .permalink {
		    color:rgb(17,84,56) !important;
	    }
	    
	    .permalink {
		    max-height:90%;
		    @media (min-width: 480px) {
			    padding: 1em;
			    width: auto;
				max-width:90%;
		    }
		    @media (min-width: 770px) {
			    padding:0.5em;
			}
		    
		    @media (min-width: 1050px) {
		    	padding:1em;
		    	margin-left: 2em;
		    	margin-right: 2em;
		    }
	    }
	    
	}
	
	.cta:nth-child(2) {
		background:rgb(195, 162, 80) !important;
		&:hover .image-tint {
			background: linear-gradient(rgba(195, 162, 80, 0.70),rgba(195, 162, 80, 0.70));
	    }
	    
	    &:hover .permalink {
		    color: rgb(195, 162, 80) !important;
	    }
	}
	
	
	.cta:nth-child(3) {
		background: rgb(39, 134, 172) !important;
		&:hover .image-tint {
			background: linear-gradient(rgba(39, 134, 172, 0.70),rgba(39, 134, 172, 0.70));
	    }
	    &:hover .permalink {
		    color: rgb(39, 134, 172) !important;
	    }
	}
	
	.cta:nth-child(4) {
		background: rgb(65, 53, 86) !important;
		&:hover .image-tint {
			background: linear-gradient(rgba(65, 53, 86, 0.70),rgba(65, 53, 86, 0.70));
	    }
	    &:hover .permalink {
		    color: rgb(65, 53, 86) !important;
	    }
	}
	
	.mobileOnly {
		ul li {
			width:100%;
		}
	}
}