html {
  max-width: 100%;
  overflow-x: hidden;
}

.site-main.standalone {
  max-width: 64em;
  margin: 0 auto;
}

body.page-template-default, 
body.page-template-current-students, 
body.tribe-theme-gs_elms, 
body.blog, 
body.page-template-library-interior-page, 
body.page-template-nursing-interior-page, 
body.page-template-program-page, 
body.page-template-program-page-test, 
body.page-template-nursing-program-page, 
body.current-students, 
body.error404, 
body.single-student_story,
body.single-post,
body.search,
body.single-tribe_venue, 
body.tribe-theme-gs_elms {
  
  p:last-child {
      margin-bottom: 0;
  }
  .wc-shortcodes-button.wc-shortcodes-button-success:visited, .wc-shortcodes-button.wc-shortcodes-button-success {
    color: white !important;
  }
  .content-area {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    
    flex-direction: initial;
    @media (min-width: 48em) {
      flex-direction: row-reverse;
    }
  }
  .page-sidebar {
    padding: 0 $gutter_width $gutter_width;
  }
  .page-content {
    a {
      color: $color__elms-blue;
    }
  }
  .site-main {
    //padding: $gutter_width;
    padding: 68px;
    
    a {
      text-decoration: none;
      //background-image: linear-gradient(to right, #009bcf 75%, #009bcf 75%);
      background-position: 0 24px;
      background-repeat: repeat-x;
      background-size: 2px 2px;
      color: #009bcf;
      transition: .25s color ease-in-out, .25s background-color ease-in-out;
      &:hover {
        color: #000;
        //background-image: linear-gradient(to right, #000 75%, #000 75%);
      }
      &:visited, &.visited {
        //color: #B88D27; 
        // background-image: linear-gradient(to right, #B88D27 75%, #B88D27 75%);
      }
    }
    .wc-shortcodes-accordion-trigger a {
      background-image: none;
    }
  
    
    @media (max-width: 47.999em) {
      padding: 32px;
    }
    
    @media (min-width: 48em) {
      &.standalone {
        width: 70%;
        margin: 0 auto;
        padding: $gutter_width 0;
      }
      
    }
  }
  
  .parent-sidebar-menu, .field-sidebar_calls_to_action {
    padding: 0;
    margin: 0;
    list-style-type: none;
    ul {
      padding: 0;
      margin: 0;
      list-style-type: none;
    }
  }
  .field-sidebar-image {
    display: block;
    margin-bottom: $gutter_width;
    background-size: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    @media (min-width: 64em) {
      border-right: $gutter_width solid white;
    }
    img {
      opacity: 0;
    }
  }
  .field-sidebar-content {
    padding: $gutter_width;
    @media all and (max-width: 56em) and (min-width: 48em) {
      padding: $gutter_width*.5;
    }
    background-color: $color__elms-green;
    color: white;
    line-height: 1.25em;
    margin-bottom: 48px;
    h2, h3, h4 {
      color: $color__elms-gold;
      margin-top: 0;
    }
    h4 {
      font-size: 1.3125em;
      color: #fff;
      font-weight: 700;
      margin-bottom: .75em;
    }
    
    h3 {
      font-size: 14px;
      margin-bottom: .25em;
    }
    h2 {
      font-size: 21px;
      color: white;
      margin-bottom: .5em;
    }
    a {
      //color: $color__elms-gold;
      background-image: linear-gradient(to right, white 75%, white 75%);
      background-position: 0 24px;
      background-repeat: repeat-x;
      background-size: 2px 2px;
      color: white;
    }
  }
  
  .field-related-events {
    padding: $gutter_width;
    background-color: $color__elms-purple;
    color: white;
    margin-bottom: 48px;
    h3 {
      color: $color__elms-gold;
      margin-top: 0;
      font-size: 14px;
      margin-bottom: 1em;
    }
    ul {
      list-style: none;
      padding-left: 0;
      
      li {
        display: block;
        margin-bottom: $gutter_width*.75;
        
        &:not(:first-child) {
          display: none;
        }
      }
      h4.field-title {
          margin: 0 0 $gutter_width/4;
          font-size: 21px;
      }
      a {
        text-decoration: none;
        text-transform: uppercase;
        color: white;
        font-size: 16px;
        font-weight: 500;
        vertical-align: top;
        line-height: 1.5em;
      
        
        &:hover {
          color: white;
        }
        
        &:after {
          content: "";
          display: inline-block;
          width: 24px;
          height: 24px;
          background-image: url(images/arrow-more.png);
          background-size: 100%;
          background-repeat: no-repeat;
          margin-left: 1em;
          position: absolute;
        }
      }
      
      
    }
    .times {
        text-transform: uppercase;
        font-size: 16px;
        color: #B3AEBB;
    }

    a.show-more, a.show-more:visited, a.show-less, a.show-less:visited {
        display: block;
        color: white;
        text-transform: uppercase;
        font-weight: 400;
        border-top: 1px solid white;
        padding-top: $gutter_width;
        padding-left: $gutter_width;
        position: relative;
        &:before {
          font-family: FontAwesome;
          font-weight: normal;
          font-size: 37px;
          text-decoration: inherit;
          font-style: normal;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          speak: none;
          content: "\f105";
          margin-right: 0px;
          display: block;
          line-height: inherit;
          position: absolute;
          left: 0;
          top: $gutter_width;
          bottom: 0;
          width: $gutter_width;
        }
    }
    a.show-less {
      display: none;
    }
    &.toggled {
      ul li:not(:first-child) {
        display: block;
      }
      a.show-more {
        display: none;
      }
      a.show-less {
        display: block;
      }
    }
    
  }
  
  .field-sidebar_calls_to_action {
    margin-top: $gutter_width /2;
    .menu-item {
      margin-bottom:$gutter_width/2;
      .permalink {
        display: block;
        padding: $gutter_width;
        @media all and (max-width: 56em) and (min-width: 48em) {
          padding: $gutter_width*.5;
        }
        width: 100%;
        text-align: center;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 500;
        color: white;
        background-color: $color__elms-gold;
        
        &:visited {
          //background-color: $color__elms-gold-darkest;
        }
        &:hover {
          background-color: $color__elms-gold-darker;
        }
       
      }
    }
  }
  
  
  .parent-sidebar-menu {
    padding: 0;
    margin: 0;
    list-style-type: none;
    background: white;
    border: 1px solid #dcdcdc;
    border-bottom: none;
    margin: -36px auto $gutter_width*1.5;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    display: none;
    font-weight: bold;
  
    .page_item {
      display: block;
      a {
        padding: $gutter_width*.75;
        @media all and (max-width: 56em) and (min-width: 48em) {
          padding: $gutter_width*.5;
        }
        color: #333333;
        text-decoration: none;
        width: 100%;
        border-bottom: 1px solid #dcdcdc;
        display: block;
      }
      
      &.current_page_item a {
        color: #2786ac;
      }
    }
  }
  
  .opening-menu {
    //margin: -$gutter_width*.75 auto $gutter_width*1.5;
    margin: -$gutter_width*.75 auto;
    min-width: 80%;
    max-width: 8em;
    letter-spacing: 0;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: none;
    outline: none;
    
  }
  @media (min-width: 1040px) {
    .parent-sidebar-menu {
      display: block;
    }
    .opening-menu {
      display: none;
    }
  }
  
  .entry-content {
    ul, ol {
      margin-left: 0;
      padding-left: 1em;
    }
  }
}
body.page-template-default .parent-sidebar-menu .page_item a:hover {
    color: #2786ac;
}

.field-content table:not(.tribe-events-calendar), .entry-content table:not(.tribe-events-calendar) {
    text-align: center;
    max-width: 100%;
    width: 100%;
    border-collapse: collapse;
    table-layout:fixed;
    font-size: .875em;
    @media all and (max-width: 36em) {
      font-size: .75em;
    }
    @media all and (min-width: 48em) and (max-width: 52em) {
      font-size: .75em;
    }
    td, th {
        padding: .25em;
        border: 1px solid #CCC;
    }
    th {
    background: #FAFAFA; /* Light grey background */
    font-weight: bold; /* Make sure they're bold */
    }

    td {
    background: white; /* Lighter grey background */
    }
}

@media (max-width: 47.999em) {
  .calls-to-action .permalink {
      padding: 0;
  }
}


// events
#tribe-events .tribe-events-content p, .tribe-events-after-html p, .tribe-events-before-html p {
    margin-bottom: 1.5em;
}
.single-tribe_events .tribe-events-venue-map {
    width: 100%;
    margin: 0;
}
.tribe-events-meta-group.tribe-events-meta-group-gmap {
    padding: 0;
    margin: 0;
}
.single-tribe_events .tribe-events-single-event-title {
    font-size: 40px;
}

#tribe-events-content a, .tribe-events-adv-list-widget .tribe-events-widget-link a, .tribe-events-adv-list-widget .tribe-events-widget-link a:hover, .tribe-events-back a, .tribe-events-back a:hover, .tribe-events-event-meta a, .tribe-events-list-widget .tribe-events-widget-link a, .tribe-events-list-widget .tribe-events-widget-link a:hover, ul.tribe-events-sub-nav a, ul.tribe-events-sub-nav a:hover {
    font-size: 1em;
    font-weight: 500;
}

#tribe-events-content .recurring-info-tooltip, #tribe-events-content .tribe-events-calendar .tribe-events-tooltip, #tribe-events-content .tribe-events-shortcode.view-week .tribe-events-tooltip, #tribe-events-content .tribe-events-week .tribe-events-tooltip {
    padding: .75em 1em;
}

/* new style */
#tribe-events .tribe-events-button:hover, #tribe-events .tribe-events-button:hover, #tribe_events_filters_wrapper input[type=submit]:hover, .tribe-events-button:hover, .tribe-events-button.tribe-active:hover, .tribe-events-button.tribe-inactive:hover, .tribe-events-button:hover, .tribe-events-calendar td.tribe-events-present div[id*=tribe-events-daynum-]:hover, .tribe-events-calendar td.tribe-events-present div[id*=tribe-events-daynum-]>a:hover {
    background-color: #c3a250;
    color: #fff;
}

/* new style */
.single-tribe_events .tribe-events-single-event-title + .tribe-events-schedule.tribe-clearfix {
    margin-top: -8px;
}
@media only screen and (max-width: 768px) {
  .tribe-events-sub-nav li a {
    background: transparent;
    color: #7f6932;
  }
}
.opening-menu.fs-dropdown {
  font-weight: bold;
  
  .fs-dropdown-item {
    border: none;
    -webkit-appearance: none;
    box-shadow: none !important;
    letter-spacing: 0;
    font-family: "soleil", sans-serif;
  }
  .fs-dropdown-selected {
    border-radius: 0;
    box-shadow: none !important;
    letter-spacing: 0;
    text-transform: uppercase;
    border: 2px solid #d7d7d7;
    box-shadow: none;
    outline: none;
    font-family: "soleil", sans-serif;
  }
  .fs-dropdown-options {
    border: 2px solid #d7d7d7;
    border-top: none;
    border-radius: 0;
    box-shadow: none;
    
  }
  .fs-dropdown-item {
        outline: none; 
        text-transform: uppercase;
        font-family: "soleil", sans-serif;
  }
  .fs-dropdown-selected:after {
      height: auto;
      width: auto;
      position: absolute;
      top: 0;
      right: 15px;
      bottom: 0;
      border-left: none;
      border-right: none;
      border-top: none;
      content: 'ï„‡';
      display: block;
      margin: auto 0;
      font-family: "fontawesome";
      font-size: 24px;
      color: #666;
  }
}