body.page-template-program-page, body.page-template-program-page-test,body.page-template-nursing-program-page {
  .opening-menu {
      margin: $gutter_width auto;
      button {
        text-transform: uppercase;
      }
  }
  .field-content {
    h2 {
      font-size: 21px;
      color: $color__elms-gold;
      @media (min-width: 64em) {
        font-size: 24px;
      }
    }
  }
  .site-main article, .site-main.standalone {
    font-size: 16px;
    line-height: 18px;
    a {
      //color: #333333;
    }
  }
  
  

  
  .quick-info-container {
    margin-top: $gutter_width;
    
  }
  .quick-info {
    @media all and (max-width: 64em) {
      order:-1;
    }
    margin-bottom: $gutter_width;
    //background: $color__elms-gold;
    .quick-info-inner {
      background: #f7f7f7;
      border: 2px solid #dcdcdc;
      border-top: none;
    }
    .field-misc-quick-info {
      //border: 1px solid #dcdcdc;
      padding-top: $gutter_width/2 $gutter_width $gutter_width;
      margin-top: 0;
      color: inherit;
      h2, h3, h4, h5 {
        margin-top: 0;
      }
    }
    h2 {
      font-size: 21px;
      color: white;
      background: $color__elms-green;
      padding: $gutter_width/2 $gutter_width;
      margin: 0;
      vertical-align: middle;
      &:before {
        content: "";
        margin-right: $gutter_width / 2;
        background-image: url("images/icon-info.png");
        background-repeat: no-repeat;
        background-size: 100%;
        background-size: cover;
        display: inline-block;
        height: 29px;
        width: 29px;
        line-height:29px;
        vertical-align: middle;
      }
    }
    p {
      margin: 0;
    }
    a {
    //    color: #fff;
    //    background-image: linear-gradient(to right, #fff 75%, #fff 75%);
    }
  }
  
  .field-required-credits, .field-degree-option, .field-program-formats, .field-misc-quick-info {
    //color: white;
    font-size: 18px;
    padding: 0 $gutter_width $gutter_width;
    ul, ol {
      &:last-child {
        margin-bottom: 0;
      }
    }
    h3 {
      color: $color__elms-green;
      text-transform: uppercase;
      font-size: 16px;
      font-weight: bold;
      margin: 1em 0 0;
      &:first-child {
        margin-top: 0;
      }
    }
    &:first-child {
      padding-top: $gutter_width;
    }
  }
  
  .field-related-majors {
    position: relative;
    text-transform: uppercase;
    margin: -1px 0 0 auto;
    @media (min-width: 1040px) {
      width: $gutter_width * 14;
      margin: 0 0 0 auto;
    }
    
    .intro-text {
      color: $color__elms-gold;
      background: $color__elms-green;
      padding: 0 50px $gutter_width/2 $gutter_width*2;
    }
    ul {
      padding: $gutter_width/2;
      background: $color__elms-gold;
      font-size: 18px;
      list-style-type: none;
      display: block;
      padding:0;
      margin: 0;
      li {
        display: inline-block;
        
        border-bottom: 2px solid $color__elms-gold-lighter;
        @media (min-width: 48em) {
          border-right: 2px solid $color__elms-gold-lighter;
          border-bottom: none;
        }
        &:last-child {
          border-right: none;
          border-bottom: none;
        }
        &.pure-u-md-1-1 {
          text-align: center;
        }
        a {
          color: white;
          //padding: $gutter_width/2;
          padding: 20px 28px;
          display: inline-block;
          text-decoration: none;
          width: 100%;
          vertical-align: middle;
          position: relative;
          &:after {
            content:"";
            background-image: url("images/arrow-more.png");
            background-repeat: no-repeat;
            background-size: 100%;
            background-size: cover;
            display: inline-block;
            height: 24px;
            width: 24px;
            line-height:24px;
            vertical-align: bottom;
            
            position: relative;
            right: auto;
            top: auto;
            margin-left: 1em;
            
            
            @media (min-width: 48em) {
              position: relative;
              right: -3%;
              top: 0;
              margin-left: 0;
            }
          }
        }
      }
    }
  }
  
  .lower-story {
    padding: $gutter_width*2;
    margin-top: 0;
    
    background: $color__elms-green;
    color: white;
    
    @media (max-width: 47.999em) {
      padding: 32px;
    }
    a {
      color: #c3a250;
      background-image: linear-gradient(to right, #c3a250 75%, #c3a250 75%);
      &:hover {
        color: #fff;
        background-image: linear-gradient(to right, #fff 75%, #fff 75%);
      }
    }
    .field-lower-story-pre-title {
      font-size:20px;
      text-align: left;
      &:before, &:after {
        content: none;
      }
      @media (min-width: 48em) {
        font-size: 28px;
      }
    }
    
    h3 {
      color: white;
    }
  
    .field-lower-story-title {
      font-size:24px;
      margin-top: 0;
      margin-bottom: .5em;
      @media (min-width: 48em) {
        font-size: 32px;
      }
    }
  
    .field-lower-story-content {
      font-size: 18px;
      
      p:last-child {
        margin-bottom: 0;
      }
    }
  }
  
  
  
  
  .section-heading-as-content {
    background-color: #115438;
    background-size: 100%;
    background-size: cover;
    background-position: 50%;
    padding: 0;
    margin: 0 0 0 auto;
    /* background-image: url(images/default-header.jpg); */
    width: 100%;
    position: relative;
    > img {
      width: 100%;
      height: auto;
      display: block;
    }
    .text-content {
      padding: $gutter_width*1.75 $gutter_width*2 40px $gutter_width*2;
      background-color: $color__elms-green;
      position: relative;
      margin: 0 0 0 auto;
      z-index: 1;
      color: white;
      @media (max-width: 1040px) {
        padding: 42px 40px;
      }
      @media (min-width: 1040px) {
        width: $gutter_width * 14;
        padding: $gutter_width * 2;
        margin-bottom: 0;
      }
    
      
      &:after {
     
        content: "";
        border-top: none;
        border-right: 30px solid transparent;
        border-left: 30px solid transparent;
        border-bottom: 40px solid #115438;
        position: absolute;
        right: calc(50% - 30px);
        top: -40px;
        @media (min-width: 1040px) {
          width: 0;
          height: 0;
          border-top: 20px solid transparent;
          border-bottom: 20px solid transparent;
          border-right: 30px solid #115438;
          border-left: none;
          right: auto;
          left: -29px;
          top: 38%;
        }
      
      }
      .pre-title {
        font-size: 24px;
        line-height: 1em;
        text-align: left;
        &:after, &:before {
          content: none;
        }
        @media (min-width: 1040px) {
          font-size: 28px;
        }
      }
      .field-title {
        font-size: 24px;
        margin: 0;
        @media (min-width: 1040px) {
          font-size: 32px;
        }
      }
      .field-body {
        font-size: 18px;
        a {
          color: $color__elms-gold;
          text-decoration: none;
          
          &:hover {
            color: #fff;
            
          }
        }
        p:first-child {
          margin-top: .5em;
        }
        *:last-child {
          margin-bottom: 0;
        }
      }
    }
    @media all and (min-width: 1040px) {
      padding: calc(32px + 4vw) 0 calc(32px + 12vw);
      > img {
        display: none;
      }
    }
  }
  

}